.content.wrap
  .content-text
    .container
      .content-text__body
        p
          span.bold FIDELIS - это группа компаний, в которую входят:
        ul
          li
            | оптовая ювелирная компания, присутствующая на рынке более 11 лет, с центральным офисом в Москве (приходите к нам в гости);
          li
            | сеть филиалов в Новосибирске, Нижнем Новгороде, Иркутске, Ростове-на -Дону и Якутске;
          li международные представительства в Италии и Китае;
          li и, конечно, розничный интернет – магазин «FIDELIS STYLE»;
        p
          | Ювелирная компания Fidelis специализируется на серебряных украшениях. Ведь серебро – это уникальный и красивый драгоценный металл, обладающий особой энергетикой, полезными свойствами, и открывающий возможности для осуществления самых неожиданных дизайнерских идей, так как гораздо дешевле золота.
        p
          | Мы ездим по разным странам и сами подбираем качественный и интересный ассортимент украшений из серебра, чтобы предлагать его Вам. Преимущественно, это изделия итальянских производителей: в них всегда есть «изюминка» и чувствуется вкус.
        p
          | Отдельно, как дистрибьюторы, мы представляем коллекции известных итальянских брендов: Graziella и Eclat. 
          br
          |                 В ассортименте Fidelis, конечно, есть и собственная продукция. К ней относятся украшения с натуральным жемчугом высокого качества, которые мы предлагаем по доступной цене, обладая особыми возможностями для производства этой категории изделий.
        p
          | Также среди представленной в ассортименте собственной продукции - специально разработанные коллекции от Fidelis, каждая из которых - уникальный продукт.
        p
          | Любая наша коллекция несет в себе определенную идею и обладает своим «характером».  Отличительная черта в том, что каждая коллекция подкреплена подарочным дополнением, и, конечно, теми эмоциями, которые были вложены в нее на этапе создания и воплощения.
        p
          | Важными чертами нашей компании являются динамичность, открытость для новых идей и способов работы и, главное, ориентированность на интересы наших покупателей. Не стоять на месте компании помогает коллектив из молодых, веселых, амбициозных и полных идей сотрудников.
        script(type='text/javascript').
          ymaps.ready(init);
          var myMap,
          myPlacemark;
          function init(){
          myMap = new ymaps.Map("mappiter", {
          center: [59.964007, 30.306175],
          zoom: 15,
          controls: ['geolocationControl', 'zoomControl', 'fullscreenControl']
          });
          myPlacemark = new ymaps.Placemark([59.96371992, 30.30695193], {
          hintContent: '<strong>Шоурум точка-выдачи Fidelis-style.ru в Санкт-Петербурге</strong>',
          balloonContent: '<img src="/assets/images/svg/logo-sign.svg" width="19" height="18" alt=""><strong> FIDELIS-STYLE шоурум точка-выдачи</strong> <br/><strong>Адрес:</strong><br/>Санкт-Петербург, Большой проспект П.С., дом 74, <br/><strong>Режим работы:</strong> <br/>с 9:00 до 19:00, Сб. Вс. - Выходной'}, {
          iconLayout: 'default#image',
          iconImageHref: '/images/balloon.png',
          iconImageSize: [37, 42],
          iconImageOffset: [-10, -42]
          });
          myMap.geoObjects.add(myPlacemark);
          }
        #mappiter(style=' border: 1px solid #DFDFDF; width: 772px; height: 320px;')
        |                 Предлагая нашу продукцию, мы гарантируем Вам: 
        br
        ul
          li Высокое качество изделий;
          li Достойный уровень сервиса и внимательное отношение к Вам;
          li Объективные и невысокие цены в контексте соотношения «цена-качество»
        p
          | Об остальном судить Вам. Мы искренне будем рады, если Вы найдете в FIDELIS STYLE то, что Вам понравится и подойдет!
        p
          span.bold ЮРИДИЧЕСКАЯ ИНФОРМАЦИЯ:
        p ООО «ФИДЕЛИС-СТАЙЛ»
        p
          | Юридический адрес: 
          br
          |                 119180, г. Москва, ул. Полянка Б., стр. 3, пом. IX, к. 20
        p
          | КПП: 770601001 
          br
          |                 ИНН: 770601001 
          br
          |                 ОГРН: 1137746888080
        .shipment-calculator
          script(src='../../assets/js/shipmentCalc.js')
          div(style='margin-bottom: 10px;font-size: 20px;font-weight: bold') РАССЧЕТ ДОСТАВКИ
          .selected_delivery
            .row
              label(for='s-region') Регион
              .select_delivery
                select#s-region.no-styler.require.post-select(name='region')
                  option(value='') Выберите регион
                  option(value='53') Адыгея респ.
                  option(value='54') Алтай респ.
                  option(value='3') Алтайский край
                  option(value='4') Амурская обл.
                  option(value='6') Архангельская обл.
                  option(value='7') Астраханская обл.
                  option(value='55') Башкортостан респ.
                  option(value='8') Белгородская обл.
                  option(value='10') Брянская обл.
                  option(value='56') Бурятия респ.
                  option(value='11') Владимирская обл.
                  option(value='12') Волгоградская обл.
                  option(value='13') Вологодская обл.
                  option(value='14') Воронежская обл.
                  option(value='57') Дагестан респ.
                  option(value='16') Еврейская авт. обл.
                  option(value='229758847') Забайкальский край
                  option(value='17') Ивановская обл.
                  option(value='101') Ингушская респ.
                  option(value='18') Иркутская обл.
                  option(value='19') Кабардино-Балкарская респ.
                  option(value='21') Калининградская обл.
                  option(value='58') Калмыкия респ.
                  option(value='22') Калужская обл.
                  option(value='23') Камчатский край
                  option(value='24') Карачаево-Черкесская респ.
                  option(value='59') Карелия респ.
                  option(value='25') Кемеровская обл.
                  option(value='27') Кировская обл.
                  option(value='60') Коми респ.
                  option(value='29') Костромская обл.
                  option(value='30') Краснодарский край
                  option(value='31') Красноярский край
                  option(value='694008984') Крым респ.
                  option(value='32') Курганская обл.
                  option(value='33') Курская обл.
                  option(value='35') Ленинградская обл.
                  option(value='36') Липецкая обл.
                  option(value='38') Магаданская обл.
                  option(value='61') Марий Эл респ.
                  option(value='62') Мордовия респ.
                  option(value='40') Московская обл.
                  option(value='41') Мурманская обл.
                  option(value='42') Ненецкий авт. округ
                  option(value='43') Нижегородская обл.
                  option(value='44') Новгородская обл.
                  option(value='45') Новосибирская обл.
                  option(value='46') Омская обл.
                  option(value='47') Оренбургская обл.
                  option(value='48') Орловская обл.
                  option(value='49') Пензенская обл.
                  option(value='50') Пермский край
                  option(value='51') Приморский край
                  option(value='52') Псковская обл.
                  option(value='68') Ростовская обл.
                  option(value='69') Рязанская обл.
                  option(value='70') Самарская обл.
                  option(value='71') Саратовская обл.
                  option(value='63') Саха (Якутия) респ.
                  option(value='72') Сахалинская обл.
                  option(value='73') Свердловская обл.
                  option(value='64') Северная Осетия-Алания респ.
                  option(value='74') Смоленская обл.
                  option(value='75') Ставропольский край
                  option(value='78') Тамбовская обл.
                  option(value='65') Татарстан респ.
                  option(value='79') Тверская обл.
                  option(value='80') Томская обл.
                  option(value='81') Тульская обл.
                  option(value='66') Тыва респ.
                  option(value='83') Тюменская обл.
                  option(value='84') Удмуртская респ.
                  option(value='87') Ульяновская обл.
                  option(value='427838930') Фиктивный регион
                  option(value='89') Хабаровский край
                  option(value='67') Хакасия респ.
                  option(value='90') Ханты-Мансийский авт. округ-Югра
                  option(value='91') Челябинская обл.
                  option(value='92') Чечня респ.
                  option(value='94') Чувашия респ.
                  option(value='95') Чукотский авт. округ
                  option(value='99') Ямало-Ненецкий авт. округ
                  option(value='100') Ярославская обл.
            .row
              label(for='s-city') Город
              .select_delivery
                select#s-city.no-styler.require.post-select(name='city')
                  option(value='') Выберите город
          .delivery__info
            span.icon.icon-car2
            |                         Срок доставки 
            span.delivery-day
            | , стоимость 
            span.delivery-summ
            span.rub
              span руб
        // calculator
      if device == '__d'
        .content-text__side
          .block.folding.opened
            .rheader.folding__title
              a(href='#')
                | Информация
            .folding__wrap
              .folding__inner
                ul.content-menu
                  li.active
                    a(href='#')
                      | О компании
                  li
                    a(href='#')
                      | Контакты
                  li
                    a(href='#')
                      | Вакансии
                  li
                    a(href='#')
                      | Дистрибуция
                  li
                    a(href='#')
                      | Оптовым покупателям
          .block.folding.opened
            .rheader.folding__title
              a(href='#')
                | Сервис
            .folding__wrap
              .folding__inner
                ul.content-menu
                  li
                    a(href='#')
                      | Примерка на выбор
                  li
                    a(href='#')
                      | Доставка по Москве и области
                  li
                    a(href='#')
                      | Доставка по РФ и СНГ
                  li
                    a(href='#')
                      | Гарантия
                  li
                    a(href='#')
                      | Возврат
                  li
                    a(href='#')
                      | Оплата
      // #endif
