script(type='text/javascript',async="async" src='http://api-maps.yandex.ru/2.1/?lang=ru_RU')
//- script(type='text/javascript').
//-     var IS_MOBILE = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent);
