.itemlist.itemlist_catalog
  +catalogItem(['{26: 22000},{27: 33333}'], {isNew: false}, 2, true)
  +catalogItem(['{21: 22222},{22: 33333}'], {}, 1)
  +catalogItem([], {isNew: true}, 3, true)
  +catalogItem([], {}, 1, true)
  +catalogItem([], {}, 1, true)
  +catalogItem([], {}, 1, true)
  +catalogItem([], {}, 1, true)
  +catalogItem([], {}, 2, true)
  +catalogItem([], {}, 2, true)
