.line-filter
  .pageswitch
    a.arrow.arrow-prev.icon-drop.icon-drop__left(href='#')
    a.active(href='/cat/type/13/1.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 1
    a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 2
    a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 3
    a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 4
    span . . .
    a(href='/cat/type/13/5.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 224
    a.arrow.arrow-next.icon-drop.icon-drop__right(href='#')
  .itemsfilter
    .itemsfilter__item.itemsfilter__item-count
      | Показать по
      select.setcatcount(data-type='items_per_page')
        option(value='12') 12
        option(value='24') 24
        option(value='36 ') 36
        option(value='all') Все
     if page == 'catalog'
      .itemsfilter__item.itemsfilter__item-order
        | Сортировать
        select.setcatorder(data-type='items_sort_order')
          option(value='casc') По возрастанию цены
          option(value='cdesc') По убыванию цены
          option(value='default') По умолчанию
          option(value='pop') По популярности
          option(selected='', value='new') По новизне
