- var bannerClass = 'main-banner_catalog'
include ../layouts/main-banner
.content.wrap
  .filter-pane
    .filter-pane__title
      i.icon.icon-filter
      |             ФИЛЬТР
      span.icon-close
    .filter-pane__inner
      .filter-pane__choosen
        .filter-pane__choosen-title
          | ВЫ ВЫБРАЛИ:
        #itemsfilterresult.filter-pane__choosen-list
          .filter_item(data-filter='collection', data-value='30') Graziella
          .filter_item(data-filter='collection', data-value='30') Graziella
          .filter_item(data-filter='collection', data-value='30') Graziella
          .filter_item(data-filter='collection', data-value='30') Graziella
          .filter_item(data-filter='collection', data-value='30') Graziella
      .filter-pane__items
        .block.folding.category-section-block
          .rheader.folding__title
            a(href='#')
              | Бренд
          .folding__wrap
            .folding__inner
              .list
                ul#ftypes(data-seltype='single')
                  li
                    a.selected(data-filter='type', data-value='19', href='/cat/type/19.html') Аксессуары
                  li
                    a.back(data-filter='type', data-value='11', href='/cat/type/11.html') Браслеты
                  li
                    a.back(data-filter='type', data-value='12', href='/cat/type/12.html') Броши
                  li
                    a.back(data-filter='type', data-value='15', href='/cat/type/15.html') Бусы
                  li
                    a.back(data-filter='type', data-value='6', href='/cat/type/6.html') Колье
                  li
                    a.back(data-filter='type', data-value='13', href='/cat/type/13.html') Кольца
                  li
                    a.back(data-filter='type', data-value='10', href='/cat/type/10.html') Подвески
                  li
                    a.back(data-filter='type', data-value='2', href='/cat/type/2.html') Серьги
                  li
                    a.back(data-filter='type', data-value='14', href='/cat/type/14.html') Цепи
        .block.folding
          .rheader.folding__title
            a(href='#')
              | Тип изделия
          .folding__wrap
            .folding__inner
              .list
                ul#fcollection(data-seltype='single')
                  li.disabled(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='30', disabled='', checked='')
                      | Graziella
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='27', checked='')
                      | Dea
                      |                                         (Италия)
                  li
                    label
                      input(type='checkbox', data-filter='collection', data-value='23')
                      | Graziella (Италия)
                  li
                    label
                      input(type='checkbox', data-filter='collection', data-value='13')
                      | Graziella
                      |                                         Золото
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='15')
                      | Базовая
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='21')
                      | Глиттеринг
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='31')
                      | Жемчужная
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='20')
                      | Кавальери
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='18')
                      | Макраме
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='19')
                      | Микро-Фьюжн
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='17')
                      | Мужская
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='36')
                      | Перламутровая
                      |                                         мозаика
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='25')
                      | Полудрагоценные
                      |                                         камни
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='26')
                      | Природные
                      |                                         камни
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='35')
                      | реплика
                      |                                         "Диор"
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='11')
                      | Сеточка
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='28')
                      | Фианитовая
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='22')
                      | Филигрань
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='24')
                      | Фэшн
                      |                                         (Италия)
                  li(style='')
                    label
                      input(type='checkbox', data-filter='collection', data-value='12')
                      | Цветная
        .block.folding
          .rheader.folding__title
            a(href='#')
              | размер
          .folding__wrap
            .folding__inner
              ul#fsizes.square_sizes
                li
                  label
                    input.squaresize(data-filter='size', data-value='0', value='Б.Р.', type='checkbox')
                    span Б.Р.
                li
                  label
                    input.squaresize(data-filter='size', data-value='14', value='14', type='checkbox')
                    span   14
                li
                  label
                    input.squaresize(data-filter='size', data-value='15', value='15', type='checkbox')
                    span  15
                li
                  label
                    input.squaresize(data-filter='size', data-value='15.5', value='15.5', type='checkbox')
                    span  15.5
                li
                  label
                    input.squaresize(data-filter='size', data-value='16', value='16', type='checkbox')
                    span  16
                li
                  label
                    input.squaresize(data-filter='size', data-value='16.5', value='16.5', type='checkbox')
                    span  16.5
                li
                  label
                    input.squaresize(data-filter='size', data-value='17', value='17', type='checkbox')
                    span  17
                li
                  label
                    input.squaresize(data-filter='size', data-value='17.5', value='17.5', type='checkbox')
                    span 17.5
                li
                  label
                    input.squaresize(data-filter='size', data-value='18', value='18', type='checkbox')
                    span  18
                li
                  label
                    input.squaresize(data-filter='size', data-value='18.5', value='18.5', type='checkbox')
                    span 18.5
                li
                  label
                    input.squaresize(data-filter='size', data-value='19', value='19', type='checkbox')
                    span  19
                li
                  label
                    input.squaresize(data-filter='size', data-value='19.5', value='19.5', type='checkbox')
                    span  19.5
                li
                  label
                    input.squaresize(data-filter='size', data-value='20', value='20', type='checkbox')
                    span  20

  .catalogue
    input(type='hidden', name='extra', value='')
    .category-section-block
      input(type='hidden', data-filter='brand', data-value='7')
    .container
      .left
        .goods-filter.goods-filter__title.folding__title
          i.icon.icon-filter
          |                     ФИЛЬТР

      .right
        .line-filter
          .itemsfilter
            label.btn-select.setcatcount
              span.btn-select__label
                | Показать по: 
                span.select-value 12
              select(data-type='items_per_page')
                option(selected='', value='12') 12
                option(value='24') 24
                option(value='36') 36
                option(value='all') Все
            label.btn-select.setcatorder
              span.btn-select__label
                | Сортировать  по: 
                span.select-value умолчанию
              select(data-type='items_sort_order')
                option(value='casc') По возрастанию цены
                option(value='cdesc') По убыванию цены
                option(value='default') По умолчанию
                option(value='pop') По популярности
                option(selected='', value='new') По новизне
          .pageswitch
            a.arrow.arrow-prev.icon-drop.icon-drop__left(href='#')
            a.active(href='/cat/type/13/1.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 1
            a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 2
            a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 3
            a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 4
            span . . .
            a(href='/cat/type/13/5.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 224
            a.arrow.arrow-next.icon-drop.icon-drop__right(href='#')
        include itemlist
    .line-filter
      .pageswitch
        a.arrow.arrow-prev.icon-drop.icon-drop__left(href='#')
        a.active(href='/cat/type/13/1.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 1
        a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 2
        a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 3
        a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 4
        span . . .
        a(href='/cat/type/13/5.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 224
        a.arrow.arrow-next.icon-drop.icon-drop__right(href='#')
    script(type='text/javascript').
      var avfilters = {"style":[6,4,5,3,13,11],"type":[11],"collection":[17,42,24,18,28,12,15,13],"brand":[0,8,14,12,10,15,16,7],"insert":[2,24,29,1,11,37,4,8,39,10,16,15,59,47,55,46,38,23,61,49],"cover":[1,2,7,8,3,4],"size":["22.0","0.0","21.5","18.0","23.0","20.0","21.0","19.0","17.0","16.0","17.5","18.5","20.5","16.5"],"metals":[1,4,3]};
.catdes.catdes_catalog
  .wrap
    span.title GRAZIELLA 
    p
      | Таким образом, сочетая итальянский вкус и мастерство отделки, рождается безупречный результат: каждое ювелирное изделие превращается в маленькое произведение искусства.
    p
      | Креативный Центр со временем создал новые направления предметов роскоши, которые были добавлены к исходной коллекции украшений из золота и серебра. В частности, линия бриллианты Graziella предлагает ювелирные изделия из золота, серебра, бриллиантов и драгоценных камней. Линия аксессуаров GRAZIELLA включает сумки и ремни, изготовленные из высококачественной кожи, обогащенные деталями из золота и серебра, а также драгоценных камней. Детали из драгоценных металлов изготовлены с использованием тех же креативных концепций что и ювелирные изделия, для создания совершенной координации с аксессуарами. Такой подход позволяет GRAZIELLA предложить своим потребителям ювелирные скульптуры и аксессуары.
    p
      | Отличное сочетание творчества и технологии. Обещания GRAZIELLA своим клиентам проявляются в скульптурных формах ювелирных изделий, их стиль настолько уникален, что некоторые идентифицируют его как “современное барокко”. Темы разрабатываются в зависимости от рынка, размер и формы адаптируются к стране назначения. В арабских странах предпочитают драгоценности больших форм, в соответствии с эстетическими канонами. В других странах изделия GRAZIELLA с использованием тех же креативных тематик становятся меньше в размере, и порой могут быть обогащены драгоценными камнями. Общие черты лежат в типе изделий, которые легко идентифицируются по своему стилю и точным деталям, а также легкостью.
