.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: @min-width;
  background-color: #353535;
  border-top: 5px solid @red;

  &-inner {
    padding: 41px 0 14px;
    color: #FFFFFF;
  }

  &-col {
    float: left;
    height: 163px;
    border-right: 1px solid #575757;
    margin-left: 21px;
    padding-top: 10px;

    &:first-child {
      margin-left: 21px + @stupidMargin;
    }

    &:last-child {
      border: 0;
    }

    &__holder {
      ._clearfix();
    }
  }

  &-header {
    display: block;
    font: 14px/17px @font-lb;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 0.05em;
  }

  .add-menu {
    width: 203px;
    padding-right: 30px;

    li {
      margin-bottom: 9px;

      a {
        color: #FFFFFF;
        text-decoration: none;
        letter-spacing: 0.05em;

        &:hover {
          color: #888888;
          text-decoration: underline;
        }
      }
    }
  }

  .social-menu {
    ._di();
    width: 217px;
    padding-right: 17px;
    margin-top: -1px;
    
    li {
      width: 32px;
      height: 32px;
      background-color: #FFFFFF;
      margin-right: 14px;
    }

    a {
      display: block;
      height: 100%;
      text-align: center;
      color: #353535;
      text-decoration: none;
      font-size: 16px;
      line-height: 32px;

      &:hover {
        color: #ffffff;
        ._transition(color);
        ._transition(background-color);
      }
    }

    .icon{

      &-fb {

        &:hover {
          background-color: #3c599b;
        }

      }

      &-tw {

        &:hover {
          background-color: #55acee;
        }
      }

      &-ins {
        &:hover {
          background-color: #9f7e67;
        }
      }

      &-vk {
        font-size: 22px;
        line-height: 30px;
        &:hover {
          background-color: #698cb2;
        }
      }
    }
  }

  &__bottom {
    border-top: 1px solid #575757;
    padding-bottom: 16px;
    ._clearfix();
  }

  .copyright {
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #ffffff;
    float: left;
    margin: 13px 0 0 24px;

    img {
      width: 19px;
      height: 19px;
      position: relative;
      top: 5px;
      margin-left: 3px;
    }
  }

  .pay {
    float: right;
    margin: 25px 0 0 0;

    img {
      display: block;
      width: 326px;
      height: 26px;
    }
  }
}