.subscribe {

  .title {
    display: block;
  }

  .title2 {
    display: block;
  }

  &__body {

  }

  &__form {

    .row {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &_main {
    background-color: #f8f7f8;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 14px 0;

    .title {
      font-size: 22px;
      line-height: 20px;
      color:#2f2f2f;
      text-transform: uppercase;
      margin-bottom: 10px;
      letter-spacing: 0.05em;
    }

    .title2 {
      font: 18px/1 @font-li;
      color: #5f5f5f;
      letter-spacing: 0.05em;
      margin-bottom: 10px;
    }

    .inputtext {
      width: 280px;
      font-size: 14px;
      color: #2e2e2e;
    }

    .btn-submit {
      height: 31px;
      line-height: 32px;
      margin-left: 10px;
    }


    .subscribe {

      &__body {

      }

      &__form {


        .row {

          &__div {
            color: #2e2e2e;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            padding: 0 10px;
          }
        }
      }
    }
  }
}