.account-section__top
  .wrap
    .customer__welcome-text Добро пожаловать Елена Компотова в Ваш личный кабинет.
    .customer-menu
      a.customer-menu__link.btn.active(href='customer.html')
        i.icon.icon-customer
        |                 Ваш профиль
      a.customer-menu__link.btn(href='customer-delivery.html')
        i.icon.icon-pin
        |                 Адрес доставки
      a.customer-menu__link.btn(href='customer-orders.html')
        i.icon.icon-car2
        |                 Заказы
      a.customer-menu__link.btn(href='customer-favorites.html')
        i.icon.icon-heart
        |                 Избранное
      a.customer-menu__link.btn(href='index.html')
        i.icon.icon-x
        |                 Выход
