<div class="account-section__top">
    <div class="wrap">
        <div class="customer__welcome-text">Добро пожаловать Елена Компотова в Ваш личный кабинет.</div>
        <div class="customer-menu">
            <a class="customer-menu__link btn active" href="customer.html">
                <i class="icon icon-customer"></i>
                Ваш профиль
            </a>
            <a class="customer-menu__link btn" href="customer-delivery.html">
                <i class="icon icon-pin"></i>
                Адрес доставки
            </a>
            <a class="customer-menu__link btn" href="customer-orders.html">
                <i class="icon icon-car2"></i>
                Заказы
            </a>
            <a class="customer-menu__link btn" href="customer-favorites.html">
                <i class="icon icon-heart"></i>
                Избранное
            </a>
            <a class="customer-menu__link btn" href="index.html">
                <i class="icon icon-x"></i>
                Выход
            </a>
        </div>
    </div>
</div>