<div class="customer__welcome-text">Добро пожаловать Елена Компотова в Ваш личный кабинет.</div>
<div class="account-section__head wrap">
    <div class="select-size__wrap customer-menu">
         <span class="account-section__title">
                избранное
                <i class="icon icon-heart"></i>
         </span>
        <select id="item_size" class="no-styler select_size" onchange="window.location.href=this.querySelector('option:checked').getAttribute('value')">
            <option value="customer.html">
                Ваш профиль
            </option>
            <option value="customer-delivery.html">
                Адрес доставки
            </option>
            <option value="customer-orders.html">
                Заказы
            </option>
            <option value="customer-favorites.html">
                Избранное
            </option>
            <option value="index.html">
                Выход
            </option>
        </select>
    </div>
</div>

<div class="customer-favorites account-section__body">
    <div class="wrap">

        <div class="customer-favorites__desc">
            <div class="text">
                Добавляйте понравившиеся украшения в избранное: так вы не забудете о том,
                что хотели купить, а также сможете поделиться этим списком с друзьями.
            </div>
            include ../includes/item/social.html
        </div>
        <div class="customer-favorites__content">
            <div class="line-filter">
                <div class="pageswitch"><a href="#" class="arrow arrow-prev icon-drop icon-drop__left"></a><a class="active" href="/cat/type/13/1.html?items_sort_order=new&amp;items_per_page=12&amp;brand=7&amp;type=13">1</a> <a href="/cat/type/13/2.html?items_sort_order=new&amp;items_per_page=12&amp;brand=7&amp;type=13" class="">2</a><a href="/cat/type/13/2.html?items_sort_order=new&amp;items_per_page=12&amp;brand=7&amp;type=13" class="">3</a><a href="/cat/type/13/2.html?items_sort_order=new&amp;items_per_page=12&amp;brand=7&amp;type=13" class="">4</a><span>. . .</span><a href="/cat/type/13/5.html?items_sort_order=new&amp;items_per_page=12&amp;brand=7&amp;type=13" class="">224</a> <a href="#" class="arrow arrow-next icon-drop icon-drop__right"></a> </div>
            </div>
            <!--#include virtual="../includes/catalog/itemlist.html"-->
        </div>

    </div>
</div>

<!--#include virtual="../includes/catalog/size.html"-->