.customer__welcome-text Добро пожаловать Елена Компотова в Ваш личный кабинет.
.account-section__head.wrap
  .select-size__wrap.customer-menu
    span.account-section__title
      | избранное
      i.icon.icon-heart
    select#item_size.no-styler.select_size(onchange="window.location.href=this.querySelector('option:checked').getAttribute('value')")
      option(value='customer.html')
        | Ваш профиль
      option(value='customer-delivery.html')
        | Адрес доставки
      option(value='customer-orders.html')
        | Заказы
      option(value='customer-favorites.html')
        | Избранное
      option(value='index.html')
        | Выход
.customer-favorites.account-section__body
  .wrap
    .customer-favorites__desc
      .text
        | Добавляйте понравившиеся украшения в избранное: так вы не забудете о том,
        | что хотели купить, а также сможете поделиться этим списком с друзьями.
      include ../item/social
    .customer-favorites__content
      .line-filter
        .pageswitch
          a.arrow.arrow-prev.icon-drop.icon-drop__left(href='#')
          a.active(href='/cat/type/13/1.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 1
          a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 2
          a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 3
          a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 4
          span . . .
          a(href='/cat/type/13/5.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 224
          a.arrow.arrow-next.icon-drop.icon-drop__right(href='#')
      include ../catalog/itemlist
