include _top
.account-section__head.wrap
  span.account-section__title
    i.icon.icon-heart
    |             ИЗБРАННОЕ
  span.account-section__hint
    | Добавляйте понравившиеся украшения в избранное: так вы не забудете о том, 
    br
    |  что хотели купить, а также сможете поделиться этим списком с друзьями.
.customer-favorites.account-section__body
  .wrap
    .customer-favorites__service
      include ../catalog/line-filter
      include ../item/social
    .customer-favorites__content
      .itemlist.itemlist_favorites
        +catalogItem(['{26: 22000},{27: 33333}'], {isNew: false}, 2, true)
        +catalogItem(['{21: 22222},{22: 33333}'], {}, 1)
        +catalogItem([], {isNew: true}, 3, true)
        +catalogItem([], {}, 1, true)
        +catalogItem([], {}, 1, true)
        +catalogItem([], {}, 1, true)
        +catalogItem([], {}, 1, true)
        +catalogItem([], {}, 2, true)
        +catalogItem([], {}, 2, true)
    .customer-favorites__service
      include ../catalog/line-filter
