<div class="customer__welcome-text">Добро пожаловать Елена Компотова в Ваш личный кабинет.</div>
<div class="account-section__head wrap">
    <div class="select-size__wrap customer-menu">
         <span class="account-section__title">
                Ваш профиль
                <i class="icon icon-customer"></i>
         </span>
         <select id="item_size" class="no-styler select_size" onchange="window.location.href=this.querySelector('option:checked').getAttribute('value')">
            <option value="customer.html">
                Ваш профиль
            </option>
            <option value="customer-delivery.html">
                Адрес доставки
            </option>
            <option value="customer-orders.html">
                Заказы
            </option>
            <option value="customer-favorites.html">
                Избранное
            </option>
            <option value="index.html">
                Выход
            </option>
        </select>
    </div>
</div>
<div class="customer-profile account-section__body">
    <div class="wrap">
        <div class="customer-profile__content">
            <div class="customer-profile__info">
                <div class="customer-profile__avatar">
                    <img class="customer-profile__avatar-img" src="#{paths.tmpimg}/avatar.jpg" alt=""/>
                    <a class="customer-profile__avatar-change" href="#">
                        <span>изменить фотографию</span>
                    </a>
                </div>
                <div class="customer-profile__social">
                    <ul class="social-menu">
                        <li>
                            <a href="#" class="icon-moon icon-tw">

                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon-moon icon-fb">

                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon-moon icon-gplus">

                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon-moon icon-vk">

                            </a>
                        </li>
                    </ul>
                </div>
                <div class="customer-expense">
                    На Вашем счету
                    <span class="customer-expense__count"><span class="val">0</span><span class="rub"><span>руб</span></span></span>
                </div>
                <div class="customer-giftcard-add">
                    <form class="giftcard-form" action="">
                        <input class="inputtext" type="text" placeholder="Введите код подарочной карты"/>
                        <a class="btn btn-submit" href="#">
                            ок
                            <input type="submit">
                        </a>
                    </form>
                </div>
            </div>
            <div class="customer-profile__data">
                <form class="customer-profile-form" action="">
                    <div class="col">
                        <span class="col__title">Личные данные:</span>
                        include ../includes/layouts/row_input.html?id=profile-name&label=ваше имя&req=*
                        <!--#include virtual="../includes/layouts/row_input.html?id=profile-surname&label=фамилия"-->
                        <!--#include virtual="../includes/layouts/row_input.html?id=profile-phone&label=Телефон&addClass=phone-mask&req=*"-->
                        <!--#include virtual="../includes/layouts/row_input.html?id=profile-email&label=E-mail&type=email&req=*"-->
                        <!--#include virtual="../includes/layouts/row_input.html?id=profile-birth&label=День рождения&addClass=date-mask"-->
                    </div>
                    <div class="col">
                        <span class="col__title">Изменить пароль:</span>
                        <!--#include virtual="../includes/layouts/row_input.html?id=profile-oldpass&label=старый Пароль&req=*"-->
                        <!--#include virtual="../includes/layouts/row_input.html?id=profile-newpass&label=новый Пароль&addClass=similar&req=*"-->
                        <!--#include virtual="../includes/layouts/row_input.html?id=profile-repeatpass&label=Повторите Пароль&addClass=similar&req=*"-->
                    </div>
                    <div class="customer-profile-form__bottom">
                        <div class="customer-profile__subscribe">
                            <label for="profile-subscribe">Уберите галочку, если не хотите получать информацию об акциях и скидках</label>
                            <input type="checkbox" name="subscribe" id="profile-subscribe"/>
                        </div>
                        <a class="btn btn_black btn-submit" href="#">
                            СОХРАНИТЬ ИЗМЕНЕНИЯ
                            <input type="submit">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>