.customer-registration
  .wrap
    if device == '__d'
      .reg-hint * поля обязательны для заполнения
    .customer-registration__content
      .reg-info
        span.title Зарегистрировавшись у нас вы получите:
        ul
          li Быстрое оформление заказов
          li Отслеживание и историю заказов
          li Выгодную систему скидок привязаную к Вашему аккаунту.
          li Добавлять понравившиеся товары в вишлист
          li Узнавать первыми об ограниченных акциях
          li Получать скидочные промокады
      if device == '__m'
        .reg-hint * поля обязательны для заполнения
      .reg-form
        form(action='')
          //- | include ../includes/layouts/row_input.html?id=reg-name&label=ваше имя&req=*
          //- | include ../includes/layouts/row_input.html?id=reg-surname&label=фамилия
          //- | include ../includes/layouts/row_input.html?id=reg-phone&addClass=phone-mask&label=Телефон&req=*
          //- | include ../includes/layouts/row_input.html?id=reg-email&label=E-mail&type=email&req=*
          //- | include ../includes/layouts/row_input.html?id=reg-pass&addClass=similar&label=Пароль&req=*
          //- | include ../includes/layouts/row_input.html?id=reg-repass&addClass=similar&label=Повторите пароль&req=*
          if device == '__d'
            .reg-subscribe
              input#reg-subscribe(type='checkbox', name='subscribe')
              label(for='reg-subscribe') Я хочу получать информацию об акциях и скидках
          if device == '__m'
            .reg-agree
              | Нажимая на кнопку «Создать аккаунт», Вы соглашаетесь на обработку персональных данных в соответствии с ФЗ РФ от 27.07.2006 г. № 152-ФЗ (в ред. 25.07.2011 г.) «О персональных данных», а также с Политикой конфиденциальности и условиями договора публичной оферты
          a.btn.btn_black.btn-submit(href='#') СОЗДАТЬ АККАУНТ
    if device == '__d'
      .reg-agree
        | Нажимая на кнопку «Создать аккаунт», Вы соглашаетесь на обработку персональных данных в соответствии с ФЗ РФ от 27.07.2006 г. № 152-ФЗ (в ред. 25.07.2011 г.) «О персональных данных», а также с Политикой конфиденциальности и условиями договора публичной оферты
