@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?ek8l5a');
  src:url('../fonts/icomoon.eot?#iefixek8l5a') format('embedded-opentype'),
  url('../fonts/icomoon.woff?ek8l5a') format('woff'),
  url('../fonts/icomoon.ttf?ek8l5a') format('truetype'),
  url('../fonts/icomoon.svg?ek8l5a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fav:before {
  content: "\e611";
}
.icon-x:before {
  content: "\e610";
}
.icon-customer:before {
  content: "\e60e";
}
.icon-clock:before {
  content: "\e60f";
}
.icon-rouble:before {
  content: "\e800";
}
.icon-heart:before {
  content: "\e609";
}
.icon-basket:before {
  content: "\e60a";
}
.icon-car2:before {
  content: "\e60b";
}
.icon-phone:before {
  content: "\e60c";
}
.icon-pin:before {
  content: "\e60d";
}
.icon-zoom:before {
  content: "\e606";
}
.icon-slider-left:before {
  content: "\e607";
}
.icon-slider-right:before {
  content: "\e608";
}
.icon-card:before {
  content: "\e600";
}
.icon-boxes:before {
  content: "\e601";
}
.icon-wallet:before {
  content: "\e602";
}
.icon-pay:before {
  content: "\e603";
}
.icon-ring:before {
  content: "\e604";
}
.icon-car:before {
  content: "\e605";
}
.icon-ok:before {
  content: "\e618";
}
.icon-tw:before {
  content: "\e61d";
}
.icon-fb:before {
  content: "\e620";
}
.icon-gplus:before {
  content: "\e624";
}
.icon-ins:before {
  content: "\e62a";
}
.icon-vk:before {
  content: "\e804";
}


.rub {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 1px;
  margin-left: 1px;
  font-size: .9em;

  span {
    font-size: 0;
  }

  &:before {
    content: "\e800";

  }
}

.favorite-link {
  ._transition(all, .5s);
  width: 20px;
  color: #6b6b6b;
  font-size: 17px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    content: "\e611";
    ._transition(opacity);
  }

  &:after {
    content: "\e609";
    opacity: 0;
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    color: #ff9999;
    ._transition(opacity);
  }

  &.added {

    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }
  }
}

.icon-close {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: 15/2px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:after {
      content: "";
      position: absolute;
      top: 15/2px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #000;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
}

.icon-drop {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3.5px 0 3.5px;
  border-color: #2e2e2e transparent transparent transparent;
  display: inline-block;

  &__right {
    ._transform(rotate(-90deg));
    position: relative;
    top: -2px;
  }

  &__left {
    ._transform(rotate(90deg));
    position: relative;
    top: -2px;
  }
}

li {
  list-style-type: none;
}

.btn-submit {
  position: relative;
  overflow: hidden;

  input[type=submit] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.btn {
  ._bs();
  height: 30px;
  width: 193px;
  border: 1px solid #444444;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font: 12px/30px @font-lb;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  text-decoration: none;
  letter-spacing: 0.05em;
  ._transition(all);


  &:hover {
    background-color: #dddddd;
  }

  &_black {
    border: none;
    background-color: #2e2e2e;
    color: #ffffff;

    &:hover {
      background-color: #6a6a6a;
    }
  }

  &_order {
    border-color: #2e2e2e;
    background-color: #444444;
    color: #ffffff;
    line-height: 28px;

    &:hover {
      background-color: #6a6a6a;
      border-color: #6a6a6a;
    }
  }

  &_red {
    border: none;
    background-color: @red !important;
    color: #ffffff;
    line-height: 30px;
  }

  &_arrow {
    color: #2e2e2e;
    border-color: #2e2e2e;

    &:after {
      content: "";
      position: absolute;
      top: 11px;
      right: 28px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 0 3px 5px;
      border-color: transparent transparent transparent #2e2e2e;
    }
  }

  &-holder {
    text-align: center;
  }

  &_white {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;

    &:after {
      border-color: transparent transparent transparent #ffffff;
    }

    &:hover {
      background-color: transparent;
    }
  }

  &_cart-added {
    background-color: #DDDDDD;
    border-color: #DDDDDD;
    color: #444444;
    cursor: default;

    &:hover {
      background-color: #DDDDDD;
      border-color: #DDDDDD;
      color: #444444;
    }
  }
}

.jq-checkbox {
  ._bs();
  display: inline-block;
  width: 7px;
  height: 7px;
  border: 1px solid #323232;
  text-align: center;
  position: relative;

  &__div {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 3px;
    height: 3px;
    background-color: #e30c19;
    opacity: 0;
    ._transition(opacity)
  }

  &.checked {

    .jq-checkbox__div {
      opacity: 1;
    }
  }
}

.custom-select {

  &.done select {
    height: 1px;
    width: 1px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    position: relative;
    left: -2px;
    z-index: -10;
    outline: none;
    -webkit-appearance: none;
  }
}

//yandex share
.social {

  .b-share {
    margin-left: -7px;

    &__handle {

    }

    &__text {
      font-size: 12px;
      color: #444444;
      margin-right: 8px;
    }

    &-icon {
      background: none;
      width: auto;
      text-align: center;
      height: auto;
      color: #353535;
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      margin-right: 14px;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      ._transition(color);

      &_vkontakte {
        margin-top: -3px;

        &:after {
          content: "\e804";
          font-size: 18px;
        }
      }

      &_facebook {

        &:after {
          content: "\e620";
          font-size: 15px;
        }
      }

      &_twitter {
        margin-top: -1px;

        &:after {
          content: "\e61d";
          font-size: 17px;
        }
      }

      &_odnoklassniki {
        margin-top: -1px;

        &:after {
          content: "\e618";
          font-size: 16px;
        }
      }

      &_gplus {
        margin-top: -2px;

        &:after {
          content: "\e624";
          font-size: 17px;
        }
      }


      &:hover {

        &.b-share-icon {

          &_vkontakte {
           color: #698cb2;
          }

          &_facebook {
            color: #3c599b;
          }

          &_twitter {
            color: #55acee;
          }

          &_odnoklassniki {
            color: #f28534;
          }

          &_gplus {
            color: #d64f38;
          }
        }
      }

    }
  }
}

.bx-prev, .bx-next {

  &.disabled {
    cursor: default;
  }
}
._ip () {
  font-size: 12px;
  line-height: 20px;
  font-family: @font-li;
  text-transform: uppercase;
  color: #444444;
}

.inputtext {
  display: inline-block;
  border: 1px solid #dddddd;
  padding: 0 10px;
  ._bs();
  height: 31px;
  background-color: #ffffff;
  font-family: @font-lr;
  font-size: 14px;
  line-height: 20px;
  color: #6a6a6a;
  ._transition(border-color);
  ._transition(color);

  &:focus {
    border-color: #444444;
    color: #444444;
  }

  &::-webkit-input-placeholder {._ip ()}
  &::-moz-placeholder          {._ip ()}/* Firefox 19+ */
  &:-moz-placeholder           {._ip ()}/* Firefox 18- */
  &:-ms-input-placeholder      {._ip ()}
}

.ui-tooltip {
  background-color: #6a6a6a;
  color: #ffffff;
  font: 12px/14.4px @font-lr;
  border: none;
  ._radius(0);
  ._shadow(0,0,0,transparent);

  &:before {
    content: "";
    position: absolute;
    top: -9px;
    left: 20%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #6a6a6a transparent;
  }
}

.error {

  & > .inputtext {
    border: 1px solid @red !important;
  }
}

.scroll-top {
  position: fixed;
  width: 100%;
  z-index: 666;
  left: 0;
  bottom: 0;
  display: none;

  .wrap {
    position: relative;
  }

  &__link {
    position: absolute;
    bottom: 20px;
    right: -90px;
    width: 45px;
    height: 45px;
    background-color: #353535;
    ._radius(50%);
    text-align: center;

    &:after {
      content: "";
      margin-top: 16px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 13px 12px;
      border-color: transparent transparent #ffffff transparent;
      ._transition(border-color);
    }

    &:hover {

      &:after {
        border-color: transparent transparent @red transparent;
      }
    }
  }
}