include ../includes/vars.jade
- var device = '__d'

doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= pageTitle
    link(rel="stylesheet", href='#{paths.css}/main.css')
    include ../includes/_head.jade
  body
    .main
      include ../includes/layouts/header__d
      include ../includes/layouts/content-info
      include ../includes/item/primary
      include ../includes/layouts/footer__d
    include ../includes/_body
    script(type='text/javascript', src='#{paths.js}/main.js')
    script(type='text/javascript', src='#{paths.js}/item.js')
