<!DOCTYPE html>
<html lang="ru" class="no-js">
<!--#if expr="$DOCUMENT_URI = /(.*)\/.*\.html/" -->
<!--#set var="DOCUMENT_PATH" value="$1" -->
<!--#endif -->
<!--#if expr="$DOCUMENT_PATH = /(.*)\/html/" -->
<!--#set var="_PATH" value="$1" -->
<!--#endif -->

<!--
<!--#echo var="DOCUMENT_PATH" -->
<!--#echo var="DOCUMENT_URI" -->
<!--#echo var="_PATH" -->
-->
<!--#set var="includespath" value="$_PATH/html/includes" -->
<!--#set var="assets-path" value="$_PATH/assets/images/tmp" -->
<!--#set var="img-path" value="$_PATH/assets/images" -->
<!--#set var="js-path" value="$_PATH/assets/js" -->
<!--#set var="css-path" value="$_PATH/assets/css" -->
<!--#set var="transparent" value="$_PATH/assets/images/tr.000000.100.gif" -->
<!--#set var="device" value="__d" -->
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>fidelis</title>
<link rel="stylesheet" href="<!--#echo var="css-path" -->/jquery-ui-1.10.3.custom.css" />
<link rel="stylesheet" href="<!--#echo var="css-path" -->/style.css" />
<script type="text/javascript" src="<!--#echo var="js-path" -->/main.js"></script>
include $includespath/_head.html
        </head>
        <body>
<div class="main">
    <!--#include virtual="$includespath/layouts/header${device}.html" -->
    <!--#include virtual="$includespath/basket/success.html" -->

    <!--#include virtual="$includespath/layouts/footer${device}.html" -->
        </div>
    <!--#include virtual="$includespath/_body.html"-->
</body>
</html>