<div class="content-info wrap">
    <div class="breadcrumbs">
        <a href="/">Главная</a>
        /
        <a href="#">Каталог</a>
        /
        <a href="#">бренды</a>
        /
        <span>GRAZIELLA</span>
    </div>
    <h1>GRAZIELLA</h1>
    <div class="search">
        <form method="post">
            <input type="text" placeholder="Поиск по названию или артикулу..." name="search">
            <span class="btn-submit">
                <input type="submit">
            </span>
        </form>
    </div>

</div>