.content-info.wrap
  .breadcrumbs
    a(href='/') Главная
    |         /
    a(href='#') Каталог
    |         /
    a(href='#') бренды
    |         /
    span GRAZIELLA
  if pageTitle
    h1= pageTitle
  .search
    form(method='post')
      input(type='text', placeholder='Поиск по названию или артикулу...', name='search')
      span.btn-submit.icon.icon-zoom
        input(type='submit')
