<div class="footer">
   <div class="footer-inner wrap">
       <div class="footer-col__holder">
           <div class="footer-col">
               <div class="magazine-info">
                   <span class="magazine-info__phone"><a href="tel:+7 (495) 255 11 08" class="link_phone">+7 (495) 255 11 08</a></span>
                   <div class="magazine-info__address">
                       <span class="magazine-info__title">Москва <i class="icon icon-pin"></i></span>
                       <div class="desc">Берсеневская набережная д. 6 стр. 1 <br/> в будние дни с 9:00 до 19:00</div>
                   </div>
               </div>
           </div>
           <div class="footer-col">
               <div class="magazine-info">
                   <div class="magazine-info__shipment">
                       <span class="magazine-info__title">Доставка <i class="icon icon-car2"></i></span>
                       <div class="desc">Ежедневно с 10:00 до 22:00</div>
                   </div>
               </div>
           </div>
           <div class="footer-col">
               <div class="footer-menu">
                   <label class="footer-menu__title footer-header" for="info-menu">
                       Информация
                   </label>
                   <select class="footer-menu__select no-styler" id="info-menu" onchange="window.location.href=this.querySelector('option:checked').getAttribute('value')">
                       <option value="content.html">
                           О компании
                       </option>
                       <option value="content.html">
                           Контакты
                       </option>
                       <option value="content.html">
                           Вакансии
                       </option>
                       <option value="content.html">
                           Дистрибуция
                       </option>
                       <option value="content.html">
                           Оптовым покупателям
                       </option>
                   </select>
               </div>

           </div>
           <div class="footer-col">
               <div class="footer-menu">
                   <label class="footer-menu__title footer-header" for="service-menu">
                       сервис
                   </label>
                   <select class="footer-menu__select no-styler" id="service-menu" onchange="window.location.href=this.querySelector('option:checked').getAttribute('value')">
                       <option value="content.html">
                           Примерка на выбор
                       </option>
                       <option value="content.html">
                           Доставка по Москве и области
                       </option>
                       <option value="content.html">
                           Доставка по РФ и СНГ
                       </option>
                       <option value="content.html">
                           Гарантия
                       </option>
                       <option value="content.html">
                           Возврат
                       </option>
                       <option value="content.html">
                           Оплата
                       </option>
                   </select>
               </div>
           </div>
           <div class="footer-col">
               <div class="subscribe subscribe_footer">
                   <span class="title footer-header">Подписка на рассылку</span>
                   <div class="subscribe__body">
                       <form class="subscribe__form" action="">
                           <div class="row">
                               <input class="inputtext" type="email" name="email" placeholder="Введите ваш e-mail"/>
                           </div>
                           <a class="btn btn_white btn-submit" href="#">
                               ок
                               <input type="submit"/>
                           </a>
                       </form>
                   </div>
               </div>
               <div class="social-footer">
                   <ul class="social-menu">
                       <li>
                           <a href="#" class="icon-moon icon-tw">

                           </a>
                       </li>
                       <li>
                           <a href="#" class="icon-moon icon-fb">

                           </a>
                       </li>
                       <li>
                           <a href="#" class="icon-moon icon-ins">

                           </a>
                       </li>
                       <li>
                           <a href="#" class="icon-moon icon-vk">

                           </a>
                       </li>
                   </ul>
               </div>

               <div class="copyright">
                   Ювелирный интернет-магазин FIDELIS-STYLE <br/>
                   2013-2015 © All rights reserved.
               </div>
           </div>

       </div>
    </div>
    <a href="" class="desktop-version">
        перейти на полную <br/> версию сайта
    </a>
</div>