.footer
    .footer-inner.wrap
        .footer-col__holder
            .footer-col
                span.footer-header
                    | Информация
                ul.add-menu
                    li
                        a(href='#')
                            | О компании
                    li
                        a(href='#') Контакты
                    li
                        a(href='#') Вакансии
                    li
                        a(href='#') Дистрибуция
                    li
                        a(href='#') Оптовым покупателям
            .footer-col
                span.footer-header
                    | сервис
                ul.add-menu
                    li
                        a(href='#')
                            | Примерка на выбор
                    li
                        a(href='#') Доставка по Москве и области
                    li
                        a(href='#') Доставка по РФ и СНГ
                    li
                        a(href='#') Гарантия
                    li
                        a(href='#') Возврат
                    li
                        a(href='#') Оплата
            .footer-col
                .social-footer
                    span.footer-header
                        | Мы в соц. сетях
                    ul.social-menu
                        li
                            a.icon-moon.icon-tw(href='#')
                        li
                            a.icon-moon.icon-fb(href='#')
                        li
                            a.icon-moon.icon-ins(href='#')
                        li
                            a.icon-moon.icon-vk(href='#')
                .subscribe.subscribe_footer
                    span.title.footer-header Подписка на рассылку
                    .subscribe__body
                        form.subscribe__form(action='')
                            .row
                                input.inputtext(type='email', name='email', placeholder='Введите ваш e-mail')
                            a.btn.btn_white.btn-submit(href='#')
                                | ок
                                input(type='submit')
            .footer-col
                .magazine-info
                    span.magazine-info__phone +7 (495) 255 11 08
                    .magazine-info__address
                        span.magazine-info__title(href='#')
                            | Москва
                            i.icon.icon-pin
                        .desc
                            | Берсеневская набережная д. 6 стр. 1
                            br
                            |  в будние дни с 9:00 до 19:00
                    .magazine-info__shipment
                        span.magazine-info__title
                            | Доставка
                            i.icon.icon-car2
                        .desc Ежедневно с 10:00 до 22:00
    .footer__bottom
        .wrap
            .copyright
                | Ювелирный интернет-магазин FIDELIS-STYLE
                img(src='#{paths.img}/svg/logo-sign.svg', alt='')
                br
                |                 2013-2015 © All rights reserved.
            .pay
                img(src='#{paths.img}/svg/pay-system.svg', alt='')
