<div class="footer">
   <div class="footer-inner wrap">
       <div class="footer-col__holder">
           <div class="footer-col">
               <span class="footer-header">
                   Информация
               </span>
               <ul class="add-menu">
                   <li>
                       <a href="#">
                           О компании
                       </a>
                   </li>
                   <li>
                       <a href="#">Контакты</a>
                   </li>
                   <li>
                       <a href="#">Вакансии</a>
                   </li>
                   <li>
                       <a href="#">Дистрибуция</a>
                   </li>
                   <li>
                       <a href="#">Оптовым покупателям</a>
                   </li>
               </ul>
           </div>
           <div class="footer-col">
               <span class="footer-header">
                   сервис
               </span>
               <ul class="add-menu">
                   <li>
                       <a href="#">
                           Примерка на выбор
                       </a>
                   </li>
                   <li>
                       <a href="#">Доставка по Москве и области</a>
                   </li>
                   <li>
                       <a href="#">Доставка по РФ и СНГ</a>
                   </li>
                   <li>
                       <a href="#">Гарантия</a>
                   </li>
                   <li>
                       <a href="#">Возврат</a>
                   </li>
                   <li>
                       <a href="#">Оплата</a>
                   </li>
               </ul>
           </div>
           <div class="footer-col">
               <div class="social-footer">
                   <span class="footer-header">
                       Мы в соц. сетях
                   </span>
                   <ul class="social-menu">
                       <li>
                           <a href="#" class="icon-moon icon-tw">

                           </a>
                       </li>
                       <li>
                           <a href="#" class="icon-moon icon-fb">

                           </a>
                       </li>
                       <li>
                           <a href="#" class="icon-moon icon-ins">

                           </a>
                       </li>
                       <li>
                           <a href="#" class="icon-moon icon-vk">

                           </a>
                       </li>
                   </ul>
               </div>
               <div class="subscribe subscribe_footer">
                   <span class="title footer-header">Подписка на рассылку</span>
                   <div class="subscribe__body">
                       <form class="subscribe__form" action="">
                           <div class="row">
                               <input class="inputtext" type="email" name="email" placeholder="Введите ваш e-mail"/>
                           </div>
                           <a class="btn btn_white btn-submit" href="#">
                               ок
                               <input type="submit"/>
                           </a>
                       </form>
                   </div>
               </div>
           </div>
           <div class="footer-col">
               <div class="magazine-info">
                   <span class="magazine-info__phone">+7 (495) 255 11 08</span>
                   <div class="magazine-info__address">
                       <span class="magazine-info__title" href="#">Москва <i class="icon icon-pin"></i></span>
                       <div class="desc">Берсеневская набережная д. 6 стр. 1 <br/> в будние дни с 9:00 до 19:00</div>
                   </div>
                   <div class="magazine-info__shipment">
                       <span class="magazine-info__title">Доставка <i class="icon icon-car2"></i></span>
                       <div class="desc">Ежедневно с 10:00 до 22:00</div>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <div class="footer__bottom">
        <div class="wrap">
            <div class="copyright">
                Ювелирный интернет-магазин FIDELIS-STYLE <img src="<!--#echo var="img-path"-->/svg/logo-sign.svg" alt=""/> <br/>
                2013-2015 © All rights reserved.
            </div>
            <div class="pay">
                <img src="<!--#echo var="img-path"-->/svg/pay-system.svg" alt=""/>
            </div>
        </div>
    </div>
</div>