.footer
  .footer-inner.wrap
    .footer-col__holder
      .footer-col
        .magazine-info
          span.magazine-info__phone
            a.link_phone(href='tel:+7 (495) 255 11 08') +7 (495) 255 11 08
          .magazine-info__address
            span.magazine-info__title
              | Москва 
              i.icon.icon-pin
            .desc
              | Берсеневская набережная д. 6 стр. 1 
              br
              |  в будние дни с 9:00 до 19:00
      .footer-col
        .magazine-info
          .magazine-info__shipment
            span.magazine-info__title
              | Доставка 
              i.icon.icon-car2
            .desc Ежедневно с 10:00 до 22:00
      .footer-col
        .footer-menu
          label.footer-menu__title.footer-header(for='info-menu')
            | Информация
          select#info-menu.footer-menu__select.no-styler(onchange="window.location.href=this.querySelector('option:checked').getAttribute('value')")
            option(value='content.html')
              | О компании
            option(value='content.html')
              | Контакты
            option(value='content.html')
              | Вакансии
            option(value='content.html')
              | Дистрибуция
            option(value='content.html')
              | Оптовым покупателям
      .footer-col
        .footer-menu
          label.footer-menu__title.footer-header(for='service-menu')
            | сервис
          select#service-menu.footer-menu__select.no-styler(onchange="window.location.href=this.querySelector('option:checked').getAttribute('value')")
            option(value='content.html')
              | Примерка на выбор
            option(value='content.html')
              | Доставка по Москве и области
            option(value='content.html')
              | Доставка по РФ и СНГ
            option(value='content.html')
              | Гарантия
            option(value='content.html')
              | Возврат
            option(value='content.html')
              | Оплата
      .footer-col
        .subscribe.subscribe_footer
          span.title.footer-header Подписка на рассылку
          .subscribe__body
            form.subscribe__form(action='')
              .row
                input.inputtext(type='email', name='email', placeholder='Введите ваш e-mail')
              a.btn.btn_white.btn-submit(href='#')
                | ок
                input(type='submit')
        .social-footer
          ul.social-menu
            li
              a.icon-moon.icon-tw(href='#')
            li
              a.icon-moon.icon-fb(href='#')
            li
              a.icon-moon.icon-ins(href='#')
            li
              a.icon-moon.icon-vk(href='#')
        .copyright
          | Ювелирный интернет-магазин FIDELIS-STYLE 
          br
          |                    2013-2015 © All rights reserved.
  a.desktop-version(href='')
    | перейти на полную 
    br
    |  версию сайта
