<div class="header">
    <div class="header-top wrap">
        <a class="logo" href="#">
            <img src="<!--#echo var="img-path"-->/logo.png" alt=""/>
        </a>
        <div class="magazine-info">
            <div class="col magazine-info__address">
                <a class="magazine-info__title js-address-popup" href="#">Москва <i class="icon"></i></a>
                <div class="desc">Берсеневская набережная д. 6 стр. 1</div>
            </div>
            <div class="col magazine-info__shipment">
                <span class="magazine-info__title">Доставка <i class="icon"></i></span>
                <div class="desc">Ежедневно с 10:00 до 22:00</div>
                <div class="shipment-info">
                    <div class="shipment-info__title">
                        СТОИМОСТЬ ДОСТАВКИ
                    </div>
                    <div class="shipment-info__body">
                        <div class="type-list">
                            <div class="type-list__item">
                                <span class="type-title">Курьером по Москве:</span>
                                <div class="line">
                                    <span class="name">СПСР Экспресс</span>
                                    <span class="price">650Р</span>
                                </div>
                                <div class="line">
                                    <span class="name">СПСР Экспресс</span>
                                    <span class="price price-free">БЕСПЛАТНО</span>
                                </div>
                            </div>
                            <div class="type-list__item">
                                <span class="type-title">по России:</span>
                                <div class="line">
                                    <span class="name">СПСР Экспресс</span>
                                    <span class="price">650Р</span>
                                </div>
                                <div class="line">
                                    <span class="name">СПСР Экспресс</span>
                                    <span class="price">650Р</span>
                                </div>
                                <div class="line">
                                    <span class="name">СПСР Экспресс</span>
                                    <span class="price price-free">БЕСПЛАТНО</span>
                                </div>
                            </div>
                        </div>
                        <a class="btn" href="">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col magazine-info__selfshipment">
                <span class="magazine-info__title">Самовывоз <i class="icon"></i></span>
                <div class="desc">в будние дни с 9:00 до 19:00</div>
            </div>
            <div class="col magazine-info__call">
                <span class="magazine-info__title">+7 (495) 255 11 08 <i class="icon"></i></span>
                <a href="#" class="desc js-call-popup">Заказать обратный звонок</a>
            </div>
        </div>

    </div>
    <div class="header-menu">
        <div class="wrap">
            <ul class="main-menu">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">
                        НОВИНКИ
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">
                        ИЗДЕЛИЯ
                    </a>
                </li>
                <li class="main-menu__item hasSubmenu">
                    <a class="main-menu__link" href="#">
                        КОЛЛЕКЦИИ
                    </a>
                    <div class="main-menu__collection">
                        <div class="collection__inner wrap">
                            <div class="collection__list">
                                <div class="col">
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Design (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Diamond  (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Colors  (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Fashion (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Chic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Classic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Базовая</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">ГлиттерингГГлиттерингГ литтеринг</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Жемчужная</a></div>
                                </div>
                                <div class="col">
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Design (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Diamond  (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Colors  (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Fashion (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Chic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Classic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Базовая</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Глиттеринг</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Жемчужная</a></div>
                                </div>
                                <div class="col">
                                    <div class="collection__item"><a class="collection__link" href="#">Classic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Базовая</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Глиттеринг</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Жемчужная</a></div>
                                </div>
                            </div>
                            <div class="collection__preview">
                                <img src="<!--#echo var="assets-path"-->/menu-collection.jpg" alt=""/>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="main-menu__item hasSubmenu">
                    <a class="main-menu__link" href="#">
                        СТИЛИ
                    </a>
                    <div class="main-menu__collection">
                        <div class="collection__inner wrap">
                            <div class="collection__list">
                                <div class="col">
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Design (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Diamond  (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Colors  (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Fashion (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Chic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Classic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Базовая</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">ГлиттерингГГлиттерингГ литтеринг</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Жемчужная</a></div>
                                </div>
                                <div class="col">
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Design (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Diamond  (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Colors  (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Fashion (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Chic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Classic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Базовая</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Глиттеринг</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Жемчужная</a></div>
                                </div>
                                <div class="col">
                                    <div class="collection__item"><a class="collection__link" href="#">Classic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Базовая</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Глиттеринг</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Жемчужная</a></div>
                                </div>
                            </div>
                            <div class="collection__preview">
                                <img src="<!--#echo var="assets-path"-->/menu-collection.jpg" alt=""/>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">
                        БРЕНДЫ
                    </a>
                </li>
                <li class="main-menu__item main-menu__item-sale">
                    <a class="main-menu__link" href="#">
                        SALE
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">
                        О КОМПАНИИ
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">
                        КОНТАКТЫ
                    </a>
                </li>
            </ul>
            <div class="basket-top">
                    <div class="basket-top__items">
                        <a class="js-open-basket" href="#">
                            <span class="basket-top__icon">
                                <span class="count">3</span>
                            </span>
                        </a>
                        <div class="basket-items">
                            <div class="basket-items__body">
                                <div class="basket-items__list">
                                    <div class="basket-item">
                                        <div class="basket-item__img">
                                            <img src="<!--#echo var="assets-path"-->/basket-item.jpg" alt=""/>
                                        </div>
                                        <div class="basket-item__name">
                                            Фаланговое кольцо из серебра с фианитами в форме короны
                                        </div>
                                        <div class="basket-item__price">
                                            19 100Р
                                        </div>
                                        <div class="basket-item__service">
                                            <a class="basket-item__delete icon-close">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="basket-item">
                                        <div class="basket-item__img">
                                            <img src="<!--#echo var="assets-path"-->/basket-item.jpg" alt=""/>
                                        </div>
                                        <div class="basket-item__name">
                                            Фаланговое кольцо из серебра с фианитами в форме короны
                                        </div>
                                        <div class="basket-item__price">
                                            19 100Р
                                        </div>
                                        <div class="basket-item__service">
                                            <a class="basket-item__delete icon-close">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="basket-item">
                                        <div class="basket-item__img">
                                            <img src="<!--#echo var="assets-path"-->/basket-item.jpg" alt=""/>
                                        </div>
                                        <div class="basket-item__name">
                                            Фаланговое кольцо из серебра с фианитами в форме короны
                                        </div>
                                        <div class="basket-item__price">
                                            19 100Р
                                        </div>
                                        <div class="basket-item__service">
                                            <a class="basket-item__delete icon-close">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="basket-items__bottom">
                                    <div class="btn-holder">
                                        <a class="btn" href="#">В КОРЗИНУ</a>
                                        <a class="btn btn__checkout" href="#">оформить</a>
                                    </div>
                                    <div class="basket__total">
                                        <span class="lbl">Сумма заказа:</span>
                                        <span class="summ">61 600Р</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <span class="basket-top__info">
                        Корзина (3 товара на 61 600 р)
                    </span>

            </div>
        </div>
    </div>
</div>