.header
  .header-top.wrap
    a.logo(href='#')
      img(src='#{paths.img}/svg/logo.svg', alt='')
    .main-nav
      nav.main-nav-items
        a.main-nav-toggle.js-menu-toggle(href='#')
          span.nav-icon
            span
            span
            span
        .main-nav-line
          .main-nav-line__holder
            ul.main-nav-line__list
              li.item
                a.link(href='catalog.html')
                  span НОВИНКИ
              li.item.hasSubmenu
                a.link(href='catalog.html')
                  span ИЗДЕЛИЯ
                .main-nav__submenu.submenu_lvl1
                  ul.main-nav-line__list
                    li.item.hasSubmenu
                      a.link(href='catalog.html')
                        span Аксессуары
                      .main-nav__submenu.submenu_lvl2
                        ul.main-nav-line__list
                          li.item
                            a.link(href='catalog.html')
                              span Аксессуары
                          li.item
                            a.link(href='catalog.html')
                              span Аксессуары
                          li.item
                            a.link(href='catalog.html')
                              span Аксессуары
                    li.item
                      a.link(href='catalog.html')
                        span Браслеты
                    li.item
                      a.link(href='catalog.html')
                        span Броши
                    li.item
                      a.link(href='catalog.html')
                        span Бусы
                    li.item
                      a.link(href='catalog.html')
                        span Колье
                    li.item
                      a.link(href='catalog.html')
                        span Кольца
                    li.item
                      a.link(href='catalog.html')
                        span Подвески
                    li.item
                      a.link(href='catalog.html')
                        span Серьги
                    li.item
                      a.link(href='catalog.html')
                        span Цепи
              li.item
                a.link(href='catalog.html')
                  span КОЛЛЕКЦИИ
              li.item
                a.link(href='catalog.html')
                  span СТИЛИ
              li.item
                a.link(href='catalog.html')
                  span БРЕНДЫ
              li.item
                a.link(href='catalog.html')
                  span SALE
              li.item
                a.link(href='catalog.html')
                  span О КОМПАНИИ
              li.item
                a.link(href='catalog.html')
                  span КОНТАКТЫ
            a.icon-x.js-menu-toggle.btn-close(href='')
  .site-phone
    span.magazine-info__title
      i.icon.icon-phone
      a.link_phone(href='tel:8(800)2551108') 8 (800) 255 11 08
      |   Звонок бесплатный
  .service-menu
    .service-menu__item.magazine-info__address
      a.js-address-popup(href='#')
        i.icon.icon-pin
      .address-info__holder.dropdown_top
        .address-info
          .address-info__title.dropdown-fade-to.dropdown__header
            | ВАШ ГОРОД
          .dropdown__body
            script.
              ymaps.ready(function () {
              var $map = $('#address-map');
              var map = new ymaps.Map("address-map", {
              center: [55.74011678, 37.60888550],
              zoom: 15,
              controls: ['zoomControl']
              });
              var moscowPin = new ymaps.Placemark(map.getCenter(), {
              hintContent: 'Fidelis style'
              }, {
              // Опции.
              // Необходимо указать данный тип макета.
              iconLayout: 'default#image'
              });
              map.geoObjects.add(moscowPin);
              });
            .address-info__inner
              .address-info__town
                span.magazine-info__title
                  | Москва 
                  i.icon.icon-pin
                .address-time
                  .address_moscow
                    | Берсеневская набережная д. 6 стр. 1 
                    br
                    |                                         пн-пт 9:00–18:00, 
                    i Сб. Вс. - Выходной
                .address-info__town-change
                  a.js-change-town(href='#') Изменить город
              .address-map__container
                #address-map.address-map
              .address-info__body
                .address__phone
                  | 7 (495) 255-11-08 
                  br
                  |                                     Колл-центр работает ежедневно с 9:00 до 22:00
                .btn-holder
                  a.btn(href='#') ПОДРОБНЕЕ
            .town-changer
              .hint Укажите город, в котором собираетесь получить товар
              form.town-changer__form(action='#townChange', data-autocompleteurl='../../source/back/townComplete.html')
                .row
                  label(for='changeTown') Ваш Город
                  input#changeTown.inputtext(name='town', type='text')
                  .town-changer__related-list
                    a.js-town(href='#') Москва
                    a.js-town(href='#') Нижний Новгород
                    a.js-town(href='#') Якутск
                  a.btn.btn-submit(href='#')
                    | СОХРАНИТЬ 
                    input(type='submit', value='')
            .dropdown__close
              a.icon.icon-x(href='#')
    //          
      .service-menu__item.service-link__holder.service-link_account.not-logged
        .service-link_relative
          a.service-link.js-login-open(href='')
            span.icon.icon-customer
          a.account-exit.icon.icon-x(href='#exit')
        .login-dropdown__holder.dropdown_top
          .login-dropdown
            .dropdown-fade-to.dropdown__header
              | ВХОД В ЛИЧНЫЙ КАБИНЕТ
            .login__body.dropdown__body
              form.login-form(action='customer.html')
                //- | <!–#include virtual="../includes/layouts/row_input.html?id=login-email&type=email&label=E-mail"–>
                //- | <!–#include virtual="../includes/layouts/row_input.html?id=login-pass&label=Пароль"–>
                .login-form__bottom
                  a.btn.btn-submit.btn_black(href='#')
                    | Вход
                    input(type='submit', value='')
                  .add-links
                    a(href='customer-registration.html') Регистрация
                    a(href='#') Забыли пароль?
              .login-social
                span.login-social__lbl Или войти через:
                .social-dark
                  a.icon.icon-fb(href='#')
                  a.icon.icon-vk(href='#')
                  a.icon.icon-tw(href='#')
                  a.icon.icon-ok(href='#')
                  a.icon.icon-gplus(href='#')
              .dropdown__close
                a.icon.icon-x(href='#')
      .service-menu__item.service-link__holder.service-link_favorites
        a.service-link(href='customer-favorites.html')
          span.icon.icon-heart
          span.service-count
            | 26
    .service-menu__item.basket.basket-top
      .basket-top__items
        a.js-basket-open(href='basket.html')
          span.basket-top__icon.icon-basket
            span.count
