<div class="header">
    <div class="header-top wrap">
        <a class="logo" href="#">
            <img src="<!--#echo var="img-path"-->/svg/logo.svg" alt=""/>
        </a>
        <div class="magazine-info">
            <div class="col magazine-info__address">
                <a class="js-address-popup" href="#">
                    <span class="magazine-info__title">Москва <i class="icon icon-pin"></i></span>
                    <div class="desc">Берсеневская набережная д. 6 стр. 1</div>
                </a>
                <div class="address-info__holder dropdown_top">
                    <div class="address-info">
                        <div class="address-info__title dropdown-fade-to dropdown__header">
                            ВАШ ГОРОД
                        </div>
                        <div class="dropdown__body">
                            <script>
                                ymaps.ready(function () {
                                    var $map = $('#address-map');
                                    var map = new ymaps.Map("address-map", {
                                        center: [55.74011678, 37.60888550],
                                        zoom: 15,
                                        controls: ['zoomControl']
                                    });
                                    console.log(map);
                                    var moscowPin = new ymaps.Placemark(map.getCenter(), {
                                        hintContent: 'Fidelis style'
                                    }, {
                                        // Опции.
                                        // Необходимо указать данный тип макета.
                                        iconLayout: 'default#image'
                                    });
                                    map.geoObjects.add(moscowPin);
                                });
                            </script>
                            <div class="address-info__inner">
                                <div class="address-info__town">
                                    <span class="magazine-info__title">Москва <i class="icon icon-pin"></i></span>
                                    <div class="address-info__town-change">
                                        <a class=" js-change-town" href="#">Изменить город</a>
                                    </div>
                                </div>
                                <div class="address-map__container">
                                    <div id="address-map" class="address-map"></div>
                                </div>
                                <div class="address-info__body">
                                    <div class="address-time">
                                        <div class="address_moscow">
                                            <span>Режим работы шоурума:</span>
                                            В буднии дни с 9:00 до 19:00 <br/>
                                            <i>Сб. Вс. - Выходной</i>
                                        </div>
                                    </div>
                                    <!--<div class="address-select">
                                        <select name="" id="address-select">
                                            <option value="moscow">Москва</option>
                                            <option value="moscow">Воронеж</option>
                                        </select>
                                    </div>-->
                                    <div class="btn-holder">
                                        <a class="btn" href="#">ПОДРОБНЕЕ</a>
                                    </div>
                                </div>
                            </div>
                            <div class="town-changer">
                                <div class="hint">Укажите  город, в котором собираетесь получить товар</div>
                                <form class="town-changer__form" action="#townChange" data-autocompleteurl="../../source/back/townComplete.html">
                                    <div class="row">
                                        <label for="changeTown">Ваш Город</label>
                                        <input class="inputtext" id="changeTown" name="town" type="text"/>
                                        <a class="btn btn-submit" href="#">СОХРАНИТЬ <input type="submit" value=""/></a>
                                    </div>
                                    <div class="town-changer__related-list">
                                        <a href="#" class="js-town">Москва</a>
                                        <a href="#" class="js-town">Нижний Новгород</a>
                                        <a href="#" class="js-town">Якутск</a>
                                    </div>
                                </form>
<!--                                <div class="town-changer__slider">
                                    <div class="item">
                                        <div class="town-col">
                                            <span class="letter">А</span>
                                            <a class="js-town" href="#">Абакан</a>
                                            <a class="js-town" href="#">Абрамцево</a>
                                            <a class="js-town" href="#">Авдотьино</a>
                                            <a class="js-town" href="#">Азов</a>
                                            <a class="js-town" href="#">Аксиньино</a>
                                            <a class="js-town" href="#">Алабино</a>
                                        </div>
                                        <div class="town-col">
                                            <a class="js-town" href="#">Аэропорт Шереметьево 1</a>
                                            <span class="letter">Б</span>
                                            <a class="js-town" href="#">Бабенки</a>
                                            <a class="js-town" href="#">Балабаново</a>
                                            <a class="js-town" href="#">Балаково</a>
                                            <a class="js-town" href="#">Балахна</a>
                                            <a class="js-town" href="#">Балашиха</a>
                                        </div>
                                        <div class="town-col">
                                            <span class="letter">А</span>
                                            <a class="js-town" href="#">Абакан</a>
                                            <a class="js-town" href="#">Абрамцево</a>
                                            <a class="js-town" href="#">Авдотьино</a>
                                            <a class="js-town" href="#">Азов</a>
                                            <a class="js-town" href="#">Аксиньино</a>
                                            <a class="js-town" href="#">Алабино</a>
                                        </div>
                                        <div class="town-col">
                                            <a class="js-town" href="#">Аэропорт Шереметьево 1</a>
                                            <span class="letter">Б</span>
                                            <a class="js-town" href="#">Бабенки</a>
                                            <a class="js-town" href="#">Балабаново</a>
                                            <a class="js-town" href="#">Балаково</a>
                                            <a class="js-town" href="#">Балахна</a>
                                            <a class="js-town" href="#">Балашиха</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="town-col">
                                            <span class="letter">А</span>
                                            <a class="js-town" href="#">Абакан</a>
                                            <a class="js-town" href="#">Абрамцево</a>
                                            <a class="js-town" href="#">Авдотьино</a>
                                            <a class="js-town" href="#">Азов</a>
                                            <a class="js-town" href="#">Аксиньино</a>
                                            <a class="js-town" href="#">Алабино</a>
                                        </div>
                                        <div class="town-col">
                                            <a class="js-town" href="#">Аэропорт Шереметьево 1</a>
                                            <span class="letter">Б</span>
                                            <a class="js-town" href="#">Бабенки</a>
                                            <a class="js-town" href="#">Балабаново</a>
                                            <a class="js-town" href="#">Балаково</a>
                                            <a class="js-town" href="#">Балахна</a>
                                            <a class="js-town" href="#">Балашиха</a>
                                        </div>
                                        <div class="town-col">
                                            <span class="letter">А</span>
                                            <a class="js-town" href="#">Абакан</a>
                                            <a class="js-town" href="#">Абрамцево</a>
                                            <a class="js-town" href="#">Авдотьино</a>
                                            <a class="js-town" href="#">Азов</a>
                                            <a class="js-town" href="#">Аксиньино</a>
                                            <a class="js-town" href="#">Алабино</a>
                                        </div>
                                        <div class="town-col">
                                            <a class="js-town" href="#">Аэропорт Шереметьево 1</a>
                                            <span class="letter">Б</span>
                                            <a class="js-town" href="#">Бабенки</a>
                                            <a class="js-town" href="#">Балабаново</a>
                                            <a class="js-town" href="#">Балаково</a>
                                            <a class="js-town" href="#">Балахна</a>
                                            <a class="js-town" href="#">Балашиха</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="town-col">
                                            <span class="letter">А</span>
                                            <a class="js-town" href="#">Абакан</a>
                                            <a class="js-town" href="#">Абрамцево</a>
                                            <a class="js-town" href="#">Авдотьино</a>
                                            <a class="js-town" href="#">Азов</a>
                                            <a class="js-town" href="#">Аксиньино</a>
                                            <a class="js-town" href="#">Алабино</a>
                                        </div>
                                        <div class="town-col">
                                            <a class="js-town" href="#">Аэропорт Шереметьево 1</a>
                                            <span class="letter">Б</span>
                                            <a class="js-town" href="#">Бабенки</a>
                                            <a class="js-town" href="#">Балабаново</a>
                                            <a class="js-town" href="#">Балаково</a>
                                            <a class="js-town" href="#">Балахна</a>
                                            <a class="js-town" href="#">Балашиха</a>
                                        </div>
                                        <div class="town-col">
                                            <span class="letter">А</span>
                                            <a class="js-town" href="#">Абакан</a>
                                            <a class="js-town" href="#">Абрамцево</a>
                                            <a class="js-town" href="#">Авдотьино</a>
                                            <a class="js-town" href="#">Азов</a>
                                            <a class="js-town" href="#">Аксиньино</a>
                                            <a class="js-town" href="#">Алабино</a>
                                        </div>
                                        <div class="town-col">
                                            <a class="js-town" href="#">Аэропорт Шереметьево 1</a>
                                            <span class="letter">Б</span>
                                            <a class="js-town" href="#">Бабенки</a>
                                            <a class="js-town" href="#">Балабаново</a>
                                            <a class="js-town" href="#">Балаково</a>
                                            <a class="js-town" href="#">Балахна</a>
                                            <a class="js-town" href="#">Балашиха</a>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col magazine-info__return">

                    <span class="magazine-info__title">Удобный возврат <i class="icon icon-wallet"></i></span>
                    <div class="desc">если украшение не подошло</div>
            </div><!-- не в регионах доставки-->
            <div class="col magazine-info__shipment" style="display: none;">
                <a class="js-shipment-info" href="#">
                    <span class="magazine-info__title">Доставка <i class="icon icon-car2"></i></span>
                    <div class="desc">Ежедневно с 10:00 до 22:00</div>
                </a>
                <div class="shipment-info__holder dropdown_top">
                    <div class="shipment-info">
                        <div class="shipment-info__title dropdown-fade-to dropdown__header">
                            ДОСТАВКА
                        </div>
                        <div class="shipment-info__body dropdown__body">
                            <div class="type-list">
                                <div class="type-list__item">
                                    <span class="type-title"><span class="place">ПО МОСКВЕ</span> (ежедневно с 10:00 до 22:00):</span>
                                    <div class="line">
                                        <span class="name">Курьером</span>
                                        <span class="price">300 <span class="rub"><span>руб</span></span></span>
                                    </div>
                                    <div class="line line-bonus">
                                        <span class="name">При заказе свыше 2 500<span class="rub"><span>руб</span></span></span>
                                        <span class="price">БЕСПЛАТНО</span>
                                    </div>
                                </div>
                                <div class="type-list__item">
                                    <span class="type-title"><span class="place">по России:</span></span>
                                    <div class="line">
                                        <span class="name">Почта России</span>
                                        <span class="price">650<span class="rub"><span>руб</span></span></span>
                                    </div>
                                    <div class="line">
                                        <span class="name">СПСР Экспресс</span>
                                        <span class="price">650<span class="rub"><span>руб</span></span></span>
                                    </div>
                                    <div class="line line-bonus">
                                        <span class="name">При заказе свыше 10 000<span class="rub"><span>руб</span></span></span>
                                        <span class="price">БЕСПЛАТНО</span>
                                    </div>
                                </div>
                            </div>
                            <a class="btn" href="">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col magazine-info__selfshipment">
                <span class="magazine-info__title">Самовывоз <i class="icon icon-clock"></i></span>
                <div class="desc">в будние дни с 9:00 до 19:00</div>
            </div>
            <div class="col magazine-info__call">
                <a class="js-call" href="#">
                    <span class="magazine-info__title">+7 (495) 255 11 08 <i class="icon icon-phone"></i></span>
                    <div class="desc">+7  (800) 255 11 08 Бесплатно</div>
                </a>
                <div class="call-info__holder dropdown_top">
                    <div class="call-info">
                        <div class="call-info__title dropdown-fade-to dropdown__header">
                            КОЛЛ-ЦЕНТР
                        </div>
                        <div class="call-info__body dropdown__body">
                            <form class="call-form" action>
                                <span class="call-form__title">ОБРАТНЫЙ ЗВОНОК</span>
                                <div class="row">
                                    <label for="call-i-name">Ваше имя</label>
                                    <input class="inputtext" name="name" id="call-i-name" type="text"/>
                                </div>
                                <div class="row">
                                    <label for="call-i-phone">Телефон</label>
                                    <input class="inputtext phone-mask"  name="name" id="call-i-phone" type="text"/>
                                </div>
                                <div class="call-info__info">Колл-центр работает ежедневно с 9:00 до 22:00</div>
                                <div class="btn-holder">
                                    <a class="btn btn-submit" href="#">
                                        ПЕРЕЗВОНИТЕ МНЕ
                                        <input type="submit" class="submit" value=""/>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="header-menu">
        <div class="wrap">
            <ul class="main-menu">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">
                        НОВИНКИ
                    </a>
                </li>
                <li class="main-menu__item hasSubmenu">
                    <a class="main-menu__link" href="#">
                        ИЗДЕЛИЯ
                    </a>
                    <div class="main-menu__collection main-menu__collection_goods">
                        <div class="collection__inner wrap">
                            <div class="goods__list">
                                <a href="#" class="goods__item"><span>АКССЕСУАРЫ</span></a>
                                 <a href="#" class="goods__item"><span>БРАСЛЕТЫ</span></a>
                                 <a href="#" class="goods__item"><span>БРОШИ</span></a>
                                 <a href="#" class="goods__item"><span>БУСЫ</span></a>
                                 <a href="#" class="goods__item"><span>КОЛЬЕ</span></a>
                                 <a href="#" class="goods__item"><span>КОЛЬЦА</span></a>
                                 <a href="#" class="goods__item"><span>ПОДВЕСКИ</span></a>
                                 <a href="#" class="goods__item"><span>СЕРЬГИ</span></a>
                                 <a href="#" class="goods__item"><span>ЦЕПИ</span></a>
                            </div>
                            <div class="goods-category">
                                <div class="goods-category__title">Категории</div>
                                <div class="goods-category__items">
                                    <div class="goods-category__items-list">
                                        <div class="goods-category__col">
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg"  href="#">Серьги с гранатом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с александритом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги из агата</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c топазом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c жемчугом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c кварцем</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с аметистом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с рубином</a>
                                        </div>
                                        <div class="goods-category__col">
                                            <a class="goods-category__item" href="#">Серьги с кристаллами Swarovski</a>
                                            <a class="goods-category__item" href="#">Серьги с фианитами</a>
                                            <a class="goods-category__item" href="#">Серьги с перламутром</a>
                                            <a class="goods-category__item" href="#">Cерьги каффы</a>
                                            <a class="goods-category__item" href="#">Серьги конго</a>
                                        </div>
                                    </div>
                                    <!--category-list-->
                                    <div class="goods-category__items-list">
                                        <div class="goods-category__col">
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg"  href="#">Серьги с гранатом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с александритом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги из агата</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c топазом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c жемчугом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c кварцем</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с аметистом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с рубином</a>
                                        </div>

                                    </div>
                                    <!--category-list-->
                                    <div class="goods-category__items-list">
                                        <div class="goods-category__col">
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg"  href="#">Серьги с гранатом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с александритом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги из агата</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c топазом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c жемчугом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c кварцем</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с аметистом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с рубином</a>
                                        </div>
                                        <div class="goods-category__col">
                                            <a class="goods-category__item" href="#">Серьги с кристаллами Swarovski</a>
                                            <a class="goods-category__item" href="#">Серьги с фианитами</a>
                                            <a class="goods-category__item" href="#">Серьги с перламутром</a>
                                            <a class="goods-category__item" href="#">Cерьги каффы</a>
                                            <a class="goods-category__item" href="#">Серьги конго</a>
                                        </div>
                                    </div>
                                    <!--category-list-->
                                    <div class="goods-category__items-list">
                                        <div class="goods-category__col">
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg"  href="#">Серьги с гранатом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с александритом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги из агата</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c топазом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c жемчугом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c кварцем</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с аметистом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с рубином</a>
                                        </div>

                                    </div>
                                    <!--category-list-->
                                    <div class="goods-category__items-list">
                                        <div class="goods-category__col">
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg"  href="#">Серьги с гранатом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с александритом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги из агата</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c топазом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c жемчугом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги c кварцем</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с аметистом</a>
                                            <a class="goods-category__item" data-img="<!--#echo var="assets-path"-->/goods-item.jpg" href="#">Серьги с рубином</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="collection__preview">
                                <!--<img src="&lt;!&ndash;#echo var="assets-path"&ndash;&gt;/goods-item.jpg" alt=""/>-->
                            </div>
                        </div>
                    </div>
                </li>
                <li class="main-menu__item hasSubmenu">
                    <a class="main-menu__link" href="#">
                        КОЛЛЕКЦИИ
                    </a>
                    <div class="main-menu__collection main-menu__collection_asis">
                        <div class="collection__inner wrap">
                            <div class="collection__list">
                                <div class="col">
                                    <div class="collection__item"><a class="collection__link" data-img="<!--#echo var="assets-path"-->/item.jpg" href="#">Silver Design (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" data-img="<!--#echo var="assets-path"-->/item2.jpg" href="#">Silver Diamond  (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" data-img="<!--#echo var="assets-path"-->/item.jpg" href="#">Silver Colors  (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" data-img="<!--#echo var="assets-path"-->/menu-collection.jpg" href="#">Fashion (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Chic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Classic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Базовая</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">ГлиттерингГГлиттерингГ литтеринг</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Жемчужная</a></div>
                                </div>
                                <div class="col">
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Design (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Diamond  (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Silver Colors  (Breuning)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Fashion (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Chic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Classic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Базовая</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Глиттеринг</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Жемчужная</a></div>
                                </div>
                                <div class="col">
                                    <div class="collection__item"><a class="collection__link" href="#">Classic (Graziella)</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Базовая</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Глиттеринг</a></div>
                                    <div class="collection__item"><a class="collection__link" href="#">Жемчужная</a></div>
                                </div>
                            </div>
                            <div class="collection__preview">
                                <!--<img src="&lt;!&ndash;#echo var="assets-path"&ndash;&gt;/menu-collection.jpg" alt=""/>-->
                            </div>
                        </div>
                    </div>
                </li>
                <li class="main-menu__item hasSubmenu">
                    <a class="main-menu__link" href="#">
                        СТИЛИ
                    </a>
                    <div class="main-menu__collection main-menu__collection_style" data-url="../../source/back/style-text.html">
                        <div class="collection__inner wrap">
                            <div class="goods__list">
                                <a href="#" class="goods__item" data-id="1"><span>ВЕЧЕРНИЙ</span></a>
                                <a href="#" class="goods__item" data-id="2"><span>ДЕЛОВОЙ</span></a>
                                <a href="#" class="goods__item" data-id="3"><span>КЛАССИЧЕСКИЙ</span></a>
                                <a href="#" class="goods__item" data-id="4"><span>ПОВСЕДНЕВНЫЙ</span></a>
                                <a href="#" class="goods__item" data-id="5"><span>ОРИГИНАЛЬНЫЙ</span></a>
                                <a href="#" class="goods__item" data-id="6"><span>ПРАЗДНИЧНЫЙ</span></a>
                                <a href="#" class="goods__item" data-id="7"><span>РОМАНТИЧЕСКИЙ</span></a>
                                <a href="#" class="goods__item" data-id="8"><span>УЛЬТРАМОДНЫЙ</span></a>
                                <a href="#" class="goods__item" data-id="9"><span>СПОРТИВНЫЙ</span></a>
                            </div>
                            <div class="goods-category">
                                <div class="styles-list">

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="main-menu__item hasSubmenu">
                    <a class="main-menu__link" href="#">
                        БРЕНДЫ
                    </a>
                    <div class="main-menu__collection main-menu__brand main-menu__collection_brand" data-url="../../source/back/style-text.html?111">
                        <div class="collection__inner wrap">
                            <div class="goods__list">
                                <a href="#" class="goods__item" data-id="1"><span>ВЕЧЕРНИЙ</span></a>
                                <a href="#" class="goods__item" data-id="2"><span>ДЕЛОВОЙ</span></a>
                                <a href="#" class="goods__item" data-id="3"><span>КЛАССИЧЕСКИЙ</span></a>
                                <a href="#" class="goods__item" data-id="4"><span>ПОВСЕДНЕВНЫЙ</span></a>
                                <a href="#" class="goods__item" data-id="5"><span>ОРИГИНАЛЬНЫЙ</span></a>
                                <a href="#" class="goods__item" data-id="6"><span>ПРАЗДНИЧНЫЙ</span></a>
                                <a href="#" class="goods__item" data-id="7"><span>РОМАНТИЧЕСКИЙ</span></a>
                                <a href="#" class="goods__item" data-id="8"><span>УЛЬТРАМОДНЫЙ</span></a>
                                <a href="#" class="goods__item" data-id="9"><span>СПОРТИВНЫЙ</span></a>
                            </div>
                            <div class="goods-category">
                                <div class="styles-list">

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="main-menu__item main-menu__item-sale">
                    <a class="main-menu__link" href="#">
                        SALE
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">
                        О КОМПАНИИ
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">
                        КОНТАКТЫ
                    </a>
                </li>
            </ul>


            <div class="basket basket-top">
                    <div class="basket-top__items">
                        <a class="js-basket-open" href="#">
                            <span class="basket-top__icon icon-basket">
                                <span class="count"></span>
                            </span>
                             <span class="basket-top__info">
                                Корзина
                            </span>
                        </a>
                        <div class="basket-items__holder dropdown-holder dropdown_top">

                            <div class="basket-items">

                                <div class="basket-items__body dropdown-fade-to">
                                    <div class=" basket-empty">
                                            <h2>Корзина пуста</h2>
                                    </div>
                                    <div class="nano-scroll">
                                        <div class="basket-items__list nano-content">
                                           <!-- <div class="basket-item">
                                                <div class="basket-item__holder">
                                                    <div class="basket-item__img">
                                                        <img src="&lt;!&ndash;#echo var="assets-path"&ndash;&gt;/basket-item.jpg" alt=""/>
                                                    </div>
                                                    <div class="basket-item__name">
                                                        Фаланговое кольцо из серебра с фианитами в форме короны
                                                    </div>
                                                    <div class="basket-item__price">
                                                        19 100Р
                                                    </div>
                                                    <div class="basket-item__service">
                                                        <a class="basket-item__delete icon-close">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>-->

                                        </div>
                                    </div>
                                    <div class="basket-items__bottom">
                                        <div class="btn-holder">
                                            <a class="btn btn_black" href="basket.html">перейти в корзину</a>
                                        </div>
                                        <div class="basket__total">
                                            <div class="total__summ">
                                                <span class="lbl">Сумма заказа:</span>
                                                <span class="summ"></span><span class="rub"><span>руб</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>


            <div class="service-link__holder service-link_favorites">
                <a href="customer-favorites.html" class="service-link">
                    <span class="icon icon-heart">

                    </span>
                    <span class="service-count">
                        26
                    </span>
                    <span class="service-lbl">
                        Избранное
                    </span>
                </a>
            </div>

            <div class="service-link__holder service-link_account not-logged">
                <a href="" class="service-link js-login-open">
                    <span class="icon icon-customer">

                    </span>
                    <span class="service-lbl">
                        Василий
                    </span>
                </a>
                <a class="account-exit icon icon-x" href="#exit"></a>

                <!--login-->
                <div class="login-dropdown__holder dropdown_top">
                    <div class="login-dropdown">
                        <div class="login__body dropdown__body">
                            <form class="login-form" action="customer.html">
                                <!--#include virtual="$includespath/layouts/row_input.html?id=login-email&type=email&label=E-mail"-->
                                <!--#include virtual="$includespath/layouts/row_input.html?id=login-pass&label=Пароль"-->
                                <div class="login-form__bottom">
                                    <div class="add-links">
                                        <a href="customer-registration.html">Регистрация</a>
                                        <a href="#">Забыли пароль?</a>
                                    </div>
                                    <a class="btn btn-submit btn_black" href="#">
                                        Вход
                                        <input type="submit" value=""/>
                                    </a>
                                </div>
                            </form>
                            <div class="login-social">
                                <span class="login-social__lbl">Или войти через:</span>
                                <div class="social-dark">
                                    <a class="icon icon-fb" href="#"></a>
                                    <a class="icon icon-vk" href="#"></a>
                                    <a class="icon icon-tw" href="#"></a>
                                    <a class="icon icon-ok" href="#"></a>
                                    <a class="icon icon-gplus" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>