if device == '__d'
  -var bannerImg = "banner2.jpg"
else
  -var bannerImg = "banner-mobile.png"

.main-banner(data-ratio='3', class=bannerClass)
  .main-banner__slider
    .slider-container
      .slider-item.prlx-item(style='background-color: blue')
        .slider-item__inner
          img.bg(src='#{paths.tmpimg}/#{bannerImg}', alt='')
          .banner-desc__holder
            .banner-desc
              img.logo(src='#{paths.tmpimg}/banner-logo.png', alt='')
              .banner-text
                p
                  | GRAZIELLA Group SPA является владельцем марки “GRAZIELLA”. Итальянская компания моды была основана в 1958 г. при инициативе Грациеллы Буонкомпани, нынешнего почетного президента компании. В юношеском возрасте она основала небольшую мастерскую, где начала изготовление оригинальных ювелирных изделий из золота.
                p
                  | Высокая оценка ювелирных изделий GRAZIELLA покупателями во всем мире способствует постоянному росту компании, и на сегодняшний день она является одной из самых значительных ювелирных компаний Италии. На данный момент вдохновение марки обеспечено Креативным Центром Graziella, ответственным за постоянное развитие и обновление спектра предлагаемых изделий.
