<div class="main-banner <!--#echo var="QUERY_STRING" -->" data-ratio="3">
    <div class="wrap">
        <div class="main-banner__slider">
            <div class="slider-container">
                <div class="slider-item slider-item__prlx">
                    <img class="bg" src="<!--#echo var="assets-path"-->/banner2.jpg" alt=""/>
                </div>
                <div class="slider-item">
                    <img class="bg" src="<!--#echo var="assets-path"-->/banner.jpg" alt=""/>
                    <div class="banner-desc__holder">
                        <div class="banner-desc">
                            <img  class="logo" src="<!--#echo var="assets-path"-->/banner-logo.png" alt=""/>
                            <div class="banner-text">
                                <p>
                                    GRAZIELLA Group SPA является владельцем марки “GRAZIELLA”. Итальянская компания моды была основана в 1958 г. при инициативе Грациеллы Буонкомпани, нынешнего почетного президента компании. В юношеском возрасте она основала небольшую мастерскую, где начала изготовление оригинальных ювелирных изделий из золота.
                                </p>
                                <p>
                                    Высокая оценка ювелирных изделий GRAZIELLA покупателями во всем мире способствует постоянному росту компании, и на сегодняшний день она является одной из самых значительных ювелирных компаний Италии. На данный момент вдохновение марки обеспечено Креативным Центром Graziella, ответственным за постоянное развитие и обновление спектра предлагаемых изделий.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-item slider-item__prlx">
                    <img class="bg" src="<!--#echo var="assets-path"-->/banner2.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>