<!--#set var="id" value="" -->
<!--#set var="label" value="" -->
<!--#set var="req" value="" -->
<!--#set var="addClass" value="" -->
<!--#set var="type" value="text" -->
<!--#set var="name" value="" -->

<!--#if expr="$QUERY_STRING = /id=([a-zA-Z0-9\-]+)/" -->
<!--#set var="id" value="$1" -->
<!--#endif -->


<!--#if expr="$QUERY_STRING = /id=([a-zA-Z0-9]+\-)([a-z]+)/" -->
    <!--#set var="name" value="$2" -->
<!--#endif -->

<!--#if expr="$QUERY_STRING = /label=([а-яА-ЯёЁчЧшШфФжЖыЫьЬрРтТуУa-zA-Z0-9\- ]+)/" -->
<!--#set var="label"  value="$1" -->
<!--#endif -->

<!--#if expr="$QUERY_STRING = /addClass=([a-zA-Z0-9\- ]+)/" -->
<!--#set var="addClass" value="$1" -->
<!--#endif -->

<!--#if expr="$QUERY_STRING = /req=([\*]?)/" -->
<!--#set var="req"  value="$1" -->
<!--#endif -->

<!--#if expr="$QUERY_STRING = /type=([a-zA-Z]+)/" -->
<!--#set var="type"  value="$1" -->
<!--#endif -->


<div class="row">
    <label for="<!--#echo encoding="none"  var="id" -->"><!--#echo encoding="none" var="label" --><!--#echo encoding="none" var="req" --></label>
    <!--#if expr="$type=textarea" -->
    <textarea name="<!--#echo encoding="none" var="name" -->" id="<!--#echo encoding="none"  var="id" -->" class="inputtext <!--#if expr="$req" -->require<!--#endif --> <!--#echo encoding="none"  var="addClass" -->" ></textarea>
    <!--#else -->
    <input name="<!--#echo encoding="none" var="name" -->" class="inputtext <!--#if expr="$req" -->require<!--#endif --> <!--#echo encoding="none"  var="addClass" -->" type="<!--#echo encoding="none"  var="type" -->" id="<!--#echo encoding="none"  var="id" -->"/>
    <!--#endif -->
</div>


