<div class="prp1">
    <div class="prp2" id="sliders">
        <div class="prb2" style="position: relative;">
            <a href="http://fidelis-style.ru/cat/collection/30/1.html" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 2; opacity: 0; width: 502px; height: 398px;"><img src="/images/msliders/53a98c05cbeea.jpg"></a>
            <a href="http://fidelis-style.ru/cat/brand/7/1.html" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1; width: 502px; height: 398px;"><img src="/images/msliders/53a98c1ac6d2c.jpg"></a>
        </div>
        <div class="prb1">
            <a href="http://fidelis-style.ru/cat/brand/12/1.html"><img src="/images/msliders/54662a3f90347.jpg"></a>
        </div>
        <div class="prb1">
            <a href="http://fidelis-style.ru/page/delivery.html"><img src="/images/msliders/53a98c996cba7.jpg"></a>
        </div>
    </div>
</div>
<div class="prp1">
    <div class="prp2">
        <div class="prm1 specials"><a href="http://fidelis-style.ru/cat/collection/sale/1.html">
            Специальные
            <br>
            <span>предложения</span></a>
        </div>
        <div class="prm1a hotline"><a href="/page/contacts.html">
            <span>+7 (495) 255 11 08</span>
            <br>
            режим работы: с 9:00 до 18:00</a>
        </div>
        <div class="prm1 social">
            <a target="_blank" href="http://vk.com/club59840407"><img src="/images/social_vk.png"></a>
            <a target="_blank" href="https://www.facebook.com/groups/174400809416927/members/"><img src="/images/social_fb.png"></a>
            <a target="_blank" href="https://twitter.com/Jewerly_Fidelis"><img src="/images/social_tw.png"></a>
            <a target="_blank" href="http://www.youtube.com/channel/UC0ThA-eh8N_lfPoEIg0ZG1g"><img src="/images/social_yt.png"></a>
        </div>
        <div class="prm1a delivery">
            <a href="http://fidelis-style.ru/page/delivery.html"><span>Бесплатная</span>
                <br>
                доставка от 2500 рублей <img src="/images/arrow_right.png"> </a>

        </div>
    </div>
</div>
<div class="greyline1"></div>
<div class="greyvertical">
    <div class="subvertical">
        <div class="left">
            <div class="sheader">
                Популярные украшения
            </div>
            <div class="itemlist1">

                <div class="item">
                    <table class="image">
                        <tbody><tr>
                            <td><a href="/item/HH000017551.html"><img src="/goods/ring/255/FY2022.jpg"></a></td>
                        </tr>
                        </tbody></table>
                    <div class="description">
                        <a href="/item/HH000017551.html">Серебряное кольцо с фианитами и маленьким бантиком</a>
                    </div>

                    <div class="cost">
                        <span class="dec">Цена:</span>
                        600.00 <span class="rub">Р</span>
                    </div>

                    <div class="buttons">
                        <a href="#" class="btnbuy" data-item="HH000017551">Купить</a>
                    </div>
                </div>
                <div class="item">
                    <div class="discountlabel discount_25"></div>
                    <table class="image">
                        <tbody><tr>
                            <td><a href="/item/M0000002800.html"><img src="/goods/ring/255/R32052.jpg"></a></td>
                        </tr>
                        </tbody></table>
                    <div class="description">
                        <a href="/item/M0000002800.html">Кольцо женское из серебра с жемчугом</a>
                    </div>

                    <div class="cost">
                        <span class="dec">Цена:</span>
                        540.00 <span class="rub">Р</span>
                        <span class="oldcost">720.00<span class="rub">Р</span></span>
                    </div>

                    <div class="buttons">
                        <a href="#" class="btnbuy" data-item="M0000002800">Купить</a>
                    </div>
                </div>
                <div class="item">
                    <table class="image">
                        <tbody><tr>
                            <td><a href="/item/HH000006466.html"><img src="/goods/chain/255/GD-050-Rd.jpg"></a></td>
                        </tr>
                        </tbody></table>
                    <div class="description">
                        <a href="/item/HH000006466.html">Цепочка из серебра с плетением панцирь, шириной 1,3 мм.</a>
                    </div>

                    <div class="cost">
                        <span class="dec">Цена:</span>
                        940.00 <span class="rub">Р</span>
                    </div>

                    <div class="buttons">
                        <a href="#" class="btnbuy" data-item="HH000006466">Купить</a>
                    </div>
                </div>
                <div class="item">
                    <table class="image">
                        <tbody><tr>
                            <td><a href="/item/M0000044845.html"><img src="/goods/bracelet/255/A1585.jpg"></a></td>
                        </tr>
                        </tbody></table>
                    <div class="description">
                        <a href="/item/M0000044845.html">Браслет из стали и плетенной коричневой кожей, шириной 0,7 см</a>
                    </div>

                    <div class="cost">
                        <span class="dec">Цена:</span>
                        1300.00 <span class="rub">Р</span>
                    </div>

                    <div class="buttons">
                        <a href="#" class="btnbuy" data-item="M0000044845">Купить</a>
                    </div>
                </div>
                <div class="greyvertical2"></div>
                <div class="item">
                    <div class="discountlabel discount_25"></div>
                    <table class="image">
                        <tbody><tr>
                            <td><a href="/item/M0000020732.html"><img src="/goods/necklace/255/ROS_F0_CL013.jpg"></a></td>
                        </tr>
                        </tbody></table>
                    <div class="description">
                        <a href="/item/M0000020732.html">Колье женское из серебра с ювелирной смолой</a>
                    </div>

                    <div class="cost">
                        <span class="dec">Цена:</span>
                        1580.00 <span class="rub">Р</span>
                        <span class="oldcost">2100.00<span class="rub">Р</span></span>
                    </div>

                    <div class="buttons">
                        <a href="#" class="btnbuy" data-item="M0000020732">Купить</a>
                    </div>
                </div>
                <div class="item">
                    <table class="image">
                        <tbody><tr>
                            <td><a href="/item/HH000012847.html"><img src="/goods/ring/255/S-2502.jpg"></a></td>
                        </tr>
                        </tbody></table>
                    <div class="description">
                        <a href="/item/HH000012847.html">Мужская печатка из родированного серебра с керамикой</a>
                    </div>

                    <div class="cost">
                        <span class="dec">Цена:</span>
                        1700.00 <span class="rub">Р</span>
                    </div>

                    <div class="buttons">
                        <a href="#" class="btnbuy" data-item="HH000012847">Купить</a>
                    </div>
                </div>
                <div class="item">
                    <table class="image">
                        <tbody><tr>
                            <td><a href="/item/M0000033159.html"><img src="/goods/pendant/255/CN-TP-206-Rd.jpg"></a></td>
                        </tr>
                        </tbody></table>
                    <div class="description">
                        <a href="/item/M0000033159.html">Подвеска женская из серебра</a>
                    </div>

                    <div class="cost">
                        <span class="dec">Цена:</span>
                        2300.00 <span class="rub">Р</span>
                    </div>

                    <div class="buttons">
                        <a href="#" class="btnbuy" data-item="M0000033159">Купить</a>
                    </div>
                </div>
                <div class="item">
                    <table class="image">
                        <tbody><tr>
                            <td><a href="/item/HH000006011.html"><img src="/goods/earrings/255/ROF_-_OR1079-R.jpg"></a></td>
                        </tr>
                        </tbody></table>
                    <div class="description">
                        <a href="/item/HH000006011.html">Серьги женские из серебра с фианитами</a>
                    </div>

                    <div class="cost">
                        <span class="dec">Цена:</span>
                        5300.00 <span class="rub">Р</span>
                    </div>

                    <div class="buttons">
                        <a href="#" class="btnbuy" data-item="HH000006011">Купить</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>

        <div class="clear"></div>
    </div>
</div>
<div class="catdes">
    <h1>
        Интернет-магазин серебряных украшений Fidelis Style</h1>
    <p>
        Представительства компании по всей России, знающие люди, не один год работающие в отрасли, и, конечно же, продукция из серебра высочайшего качества – вот, что такое Fidelis.</p>
    <p style="margin-top: 10px;">
        Продукция из серебра высочайшего качества, собственное производство и сотрудники, по-настоящему знающие свое дело – вот, что такое Fidelis. Кроме того, мы являемся официальными дистрибьюторами итальянской компании Graziella и единственными официальными дистрибьюторами&nbsp;немецкой компании Breuning&nbsp;</p>
    <p style="margin-top: 10px;">
        Наш магазин по праву может похвастаться широчайшим выбором украшений, безупречной системой доставки, и действительно демократичными ценами.</p>
    <p style="margin-top: 10px;">
        Серебро в природе встречается чаще. Еще древние египтяне придавали особую значимость именно серебряным изделиям. Все украшения тех времен, отмеченные различными историческими событиями, изготавливали преимущественно из серебра.Такие изделия обладают определенной гармонией, и подойдут любой женщине, подчеркнут ее красоту.</p>
    <p style="margin-top: 10px;">
        Наш интернет магазин серебряных украшений Fidelis Style, широко известен ценителям уникальных изделий. Каждое может претендовать на роль главного украшения, дополняющего и подчеркивающего стиль любой одежды. Будет ли это <a href="http://fidelis-style.ru/cat/type/14/1.html" target="_blank">серебряная цепочка</a>, <a href="http://fidelis-style.ru/cat/type/13/1.html" target="_blank">кольцо</a>, колье или целый ансамбль – они по-настоящему дополнят Вас и внесут ноты индивидуальности в Ваш образ.</p>
    <p style="margin-top: 10px;">
        Серебряные украшения представлены в большом ассортименте, и для Вашего удобства разбиты в каталогах по типам изделий, брендам, стилям и коллекциям. Мы можем с уверенностью сказать, что ассортимент не оставит равнодушным ни кого, и наверняка вызовет желание купить ювелирные украшения из серебра именно у нас.</p>
    <p style="margin-top: 10px;">
        Приглашаем в наш интернет-магазин и желаем хорошего шопинга!</p>

</div>