.catalogue {
  ._wPadding();

  .container {
    width: 100%;
    ._clearfix();
    position: relative;
    z-index: 5;

    .right {

    }

    .left {


    }
  }

  .line-filter {
    ._clearfix();
    position: relative;
    z-index: 4;
    margin-top: 10px;
  }

  &-search {
    margin-bottom: 30px;
  }
}

.size-popup {
  position: absolute;
  z-index: 650;
  width: 255px;
  background-color: #e4e4e4;
  display: none;
  opacity: 0;

  &:before {
    content: "";
    position: absolute;
    z-index: 10;
    top: -5px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #e4e4e4 transparent;

  }

  .close {
    position: absolute;
    top: 10px;
    right: 6px;

    &:before, &:after {
      background-color: #020202;
    }
  }
  
  .size__inner {
    padding: 29px 27px 15px 28px;
    text-align: center;
  }

  .item-img {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    top: -200px;
    height: 200px;

    img {
      max-height: 200px;
    }
  }

  select {
    width: 100%;
    height: 45px;
    ._bs();
    border: none;
    position: relative;
    font-size: 14px;
    color: #2e2e2e;
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 10;
  }


  .size_empty {

    .select-size__wrap {
      border-color: @red;

      &:after {
        content: "";
        border-color: @red transparent transparent transparent;
      }
    }


    select {
      color: @red;
    }
  }

  .pitem-size {
    width: 100%;
    display: block;
  }

  .btn {
    width: 100%;
    margin-top: 13px;
    background-color: #ffffff;
    height: 50px;
    line-height: 50px;
    font-size: 14px;

    &:hover {
      background-color: @red;
      border-color: @red;
      color: #ffffff;
    }
  }

  .cost {
    margin-top: 14px;
    height: 18px;
    font-size: 18px;
  }
}


///ItemList///
.itemlist {
  font-size: 0;


  .item {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 49%;
    margin: 0 0 15px 0;
    font-size: 14px;
    background-color: #ffffff;


    &-inner {
      margin: 0 auto 0;
      text-align: center;
      padding: 0 10px 60px;
      position: relative;
    }

    &-preview {
      height: 200px;
      overflow: hidden;
      position: relative;

      img {
        max-height: 200px;
      }
    }
  }

  .description {
    margin-top: 3px;
    line-height: 19.6px;
    font-family: Georgia;
    font-style: italic;
    height: 72px;

    a {
      color: #6A6A6A;
      text-decoration: none;
    }
  }

  //cost old-cost > blocks.less
  .buttons {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;

    .btn {
      width: 100%;
      height: 50px;
      line-height: 50px;
      max-width: 200px;
      font-size: 14px;

      &:not(.btn_cart-added):hover {
        background-color: @red;
        border-color: @red;
        color: #ffffff;
      }
    }


  }

  .info-lbl {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 5px;
    padding-right: 10px;

    background-color: #65abcf;
    text-align: center;
    font: 16px/20px @font-lb;
    color: #ffffff;

    span {
      display: block;
      position: relative;
      z-index: 30;
      height: 21px;
      width: 69px;
      background-color: inherit;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12.5px 17.5px 7.5px 0;
      border-color: transparent #4f93b7 transparent transparent;
      .transition(opacity, .5s);
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10.5px 10px 10.5px 0;
      border-color: transparent #ffffff transparent transparent;
    }

    &__orange {
      font-size: 14px;
      background-color: #ff8000;

      &:before {
        border-color: transparent #ca6500 transparent transparent;
      }
    }
  }

  .icon-x {
    position: absolute;
    z-index: 100;
    top: 15px;
    right: 15px;
    font-size: 17px;
    color: #000000;
  }

  &_catalog {
    margin-top: 11px;

    .item {

    }
  }

  &_popular {
    margin-top: 25px;

    .title {
      display: block;
      text-align: center;
      font-size: 22px;
      text-transform: uppercase;
      color: #303030;
      letter-spacing: 0.05em;
      margin-bottom: 15px;
    }

  }

  &_favorites {

    .item {
      width: 255px;
      height: 395px;
      margin: 0 0 26px 0;
      padding: 0;
    }


  }
}

//items-filter
.itemsfilter {
  ._clearfix();

  .btn-select {
    display: block;
    float: left;
    height: 60px;
    ._bs();
    border: 1px solid #dddddd;
    position: relative;

    &__label {
      display: block;
      width: 80%;
      overflow: hidden;
      font-size: 14px;
      line-height: 54px;
      color: #2e2e2e;
      padding-left: 13px;
    }

    &:after {
      content: "";
      position: absolute;
      right: 13px;
      top: 24px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 7.5px 0 7.5px;
      border-color: #2f2f2f transparent transparent transparent;
    }
  }

  .setcatcount {
    width: 175*@delta+0%;
    margin-right: 15*@delta+0%;
  }
  
  .setcatorder {
    width: 270*@delta+0%;
  }



}

//pager
.pageswitch {
  color: #888888;
  font-size: 0;
  text-align: center;
  margin-top: 20px;

  a:not(.arrow) {
    display: inline-block;
    text-align: center;
    color: #888888;
    text-decoration: none;
    padding: 3px 5px;
    margin: 0 5px;
    font-size: 20px;

    &.active {
      color: #2d2d2d;
    }
  }

  span {
    font-size: 20px;
  }

  .arrow {
    position: relative;
    top: -3px;

    &-next {
      margin-left: 9px;
    }

    &-prev {
      margin-right: 9px;
    }
  }
}

.search {

  &__info {
    margin: 42px 0 37px;
    text-align: center;
    color: #444444;
    letter-spacing: 0.05em;
  }

  &__target {
    display: block;
    font: 18px/25px @font-lr;
    margin-bottom: 46px;
  }

  &__found {
    display: block;
    font: italic 18px/1 Georgia;
  }
}

.goods-filter {
  position: relative;

  &__title {
    height: 60px;
    background-color: #e4e4e4;
    text-align: center;
    font: 16px/60px @font-lb;
    text-transform: uppercase;
    color: #444444;
    border-bottom: 0;
    cursor: pointer;
  }

  .icon-filter {
    position: absolute;
    left: 23px;
    top: 17px;
    font-size: 26px;
    color: #444444;
  }

  .folding__wrap {
    position: absolute;
    z-index: 300;
    left: 0;
    top: 69px;
    width: 100%;
  }

  .folding__inner {
    background-color: #e4e4e4;
    padding: 10px 21px 70px;
    position: relative;
  }
  @itemDel: 100/428 + 0%;
  &__list {
    font-size: 0;
    margin-right: -10 * @itemDel;
  }

  &__item {
    display: inline-block;
    height: 60px;
    width: 132 * @itemDel;
    margin-right: 10 * @itemDel;
    margin-bottom: 10 * @itemDel;;
    border: 1px solid #444444;
    background-color: #FFFFFF;
    ._bs();
    font-size: 15px;
    line-height: 60px;
    color: #303030;
    text-align: center;
    text-transform: uppercase;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__price {


    label {
      color: #2e2e2e;
      font-size: 14px;
      line-height: 10px;
      text-transform: uppercase;
      margin-bottom: 6px;
      letter-spacing: 0.05em;
      margin-right: 10px;
    }

    .inputtext {
      width: 35%;

      & + label {
        margin-left: 20*@itemDel;
      }
    }

    .rub {
      font-size: 30px;
      top: -6px;
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  &__choosen {
    margin-top: 19px;

    &-title {
      font: 16px/1 @font-lb;
      color: #444444;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 25px;
    }

    &-list {
      margin-bottom: 20px;
    }

    .filter_item {
      cursor: pointer;
      height: 45px;
      background-color: #888888;
      color: #FFFFFF;
      padding: 0 8px 0 6px;
      display: inline-block;
      font-size: 15px;
      line-height: 45px;
      margin-right: 7px;
      margin-bottom: 10px;

      &:after {
        content: "x";
        padding-left: 15px;
      }
    }

    .btn {
      background-color: #444444;
      width: 100%;
    }
  }

  .icon-x {
    font-size: 16px;
    color: #282828;
    position: absolute;
    bottom: 20px;
    right: 21px;
  }
}