.header {
  position: relative;
  margin-bottom: 20px;
  ._clearfix();

  .link-desktop {
    ._title(12px,18px,#000000);
    text-align: center;
    margin-bottom: 15px;
  }

  .site-name {
    display: block;
    float: left;
    ._percentW(158);

    img {
      display: block;
      width: 100%;
    }
  }

}
