include ../includes/vars
- var device = '__m'

doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= pageTitle
    script(type='text/javascript', src='#{paths.js}/mobile.js')
    link(rel="stylesheet", href='#{paths.css}/jquery-ui-1.10.3.custom.css')
    link(rel="stylesheet", href='#{paths.css}/mobile.css')
    include ../includes/_head.jade
  body
    .main
      include ../includes/layouts/header__m
      include ../includes/index/primary__m
      include ../includes/layouts/footer__m
    include ../includes/_body
