.order
  .basket-empty
    .wrap
      h2 Корзина пуста
  .basket.basket_order.order-step
    .basket-items.scroll-to
      .basket-items__body
        .basket-items__list
    .basket__bottom
      .wrap
        .basket__total
          .cell.total
            .total__summ
              span.lbl Итого:
              span.summ
              span.rub
                span руб
    .basket__buttons
      a.btn.btn_order.btn_checkout(href='#') ОФОРМИТЬ ЗАКАЗ
      a.btn.btn_back(href='#') ВЕРНУТСЯ В КАТАЛОГ
  #order-delivery.order-delivery.order-step
    .order__inner.order-expand
      .order-delivery__top
        span.delivery__title.scroll-to АДРЕС ДОСТАВКИ
        span.delivery__tip * поля обязательны для заполнения
      .order-delivery__body
        form.delivery-form(action='')
          .delivery-form__fieldset
            .div-2
              .row
                input#s-name.inputtext.require(name='name', type='text', placeholder='ваше имя *')
              .row
                input#s-lastname.inputtext(name='family', type='text', placeholder='ФАМИЛИЯ ')
            .div-2
              .row
                input#s-phone.inputtext.require.phone-mask(name='phone', type='text', placeholder='+7 (___) ___-__-__ *')
              .row
                input#s-email.inputtext.require(name='email', type='email', placeholder='E-MAIL')
            .row
              .select_delivery
                select#s-paytype.no-styler.select_delivery-start(name='paytype')
                  option(value='') ВАРИАНТЫ ОПЛАТЫ
                  option(value='nal') Наличными либо картой при получении
                  option(value='card') Картой Visa/Mastercard на сайте
            .row
              .select_delivery
                select#s-delivery.no-styler.select_delivery-start(name='delivery')
                  option(value='') СПОСОБ ДОСТАВКИ
                  option(value='courier') Курьером по Москве и области
                  option(value='self') Самовывоз
                  option(value='spsr_regions') Курьером СПСР-ЭКСПРЕСС в регионы РФ
            .selected_delivery
              .row
                .select_delivery
                  select#s-region.no-styler.require.post-select(name='region')
                    option(value='') Выберите регион
                    option(value='53') Адыгея респ.
                    option(value='54') Алтай респ.
                    option(value='3') Алтайский край
                    option(value='4') Амурская обл.
                    option(value='6') Архангельская обл.
                    option(value='7') Астраханская обл.
                    option(value='55') Башкортостан респ.
                    option(value='8') Белгородская обл.
                    option(value='10') Брянская обл.
                    option(value='56') Бурятия респ.
                    option(value='11') Владимирская обл.
                    option(value='12') Волгоградская обл.
                    option(value='13') Вологодская обл.
                    option(value='14') Воронежская обл.
                    option(value='57') Дагестан респ.
                    option(value='16') Еврейская авт. обл.
                    option(value='229758847') Забайкальский край
                    option(value='17') Ивановская обл.
                    option(value='101') Ингушская респ.
                    option(value='18') Иркутская обл.
                    option(value='19') Кабардино-Балкарская респ.
                    option(value='21') Калининградская обл.
                    option(value='58') Калмыкия респ.
                    option(value='22') Калужская обл.
                    option(value='23') Камчатский край
                    option(value='24') Карачаево-Черкесская респ.
                    option(value='59') Карелия респ.
                    option(value='25') Кемеровская обл.
                    option(value='27') Кировская обл.
                    option(value='60') Коми респ.
                    option(value='29') Костромская обл.
                    option(value='30') Краснодарский край
                    option(value='31') Красноярский край
                    option(value='694008984') Крым респ.
                    option(value='32') Курганская обл.
                    option(value='33') Курская обл.
                    option(value='35') Ленинградская обл.
                    option(value='36') Липецкая обл.
                    option(value='38') Магаданская обл.
                    option(value='61') Марий Эл респ.
                    option(value='62') Мордовия респ.
                    option(value='40') Московская обл.
                    option(value='41') Мурманская обл.
                    option(value='42') Ненецкий авт. округ
                    option(value='43') Нижегородская обл.
                    option(value='44') Новгородская обл.
                    option(value='45') Новосибирская обл.
                    option(value='46') Омская обл.
                    option(value='47') Оренбургская обл.
                    option(value='48') Орловская обл.
                    option(value='49') Пензенская обл.
                    option(value='50') Пермский край
                    option(value='51') Приморский край
                    option(value='52') Псковская обл.
                    option(value='68') Ростовская обл.
                    option(value='69') Рязанская обл.
                    option(value='70') Самарская обл.
                    option(value='71') Саратовская обл.
                    option(value='63') Саха (Якутия) респ.
                    option(value='72') Сахалинская обл.
                    option(value='73') Свердловская обл.
                    option(value='64') Северная Осетия-Алания респ.
                    option(value='74') Смоленская обл.
                    option(value='75') Ставропольский край
                    option(value='78') Тамбовская обл.
                    option(value='65') Татарстан респ.
                    option(value='79') Тверская обл.
                    option(value='80') Томская обл.
                    option(value='81') Тульская обл.
                    option(value='66') Тыва респ.
                    option(value='83') Тюменская обл.
                    option(value='84') Удмуртская респ.
                    option(value='87') Ульяновская обл.
                    option(value='427838930') Фиктивный регион
                    option(value='89') Хабаровский край
                    option(value='67') Хакасия респ.
                    option(value='90') Ханты-Мансийский авт. округ-Югра
                    option(value='91') Челябинская обл.
                    option(value='92') Чечня респ.
                    option(value='94') Чувашия респ.
                    option(value='95') Чукотский авт. округ
                    option(value='99') Ямало-Ненецкий авт. округ
                    option(value='100') Ярославская обл.
              .row
                .select_delivery
                  select#s-city.no-styler.require.post-select(name='city')
                    option(value='') ГОРОД 
            .row.delivery__address
              textarea#s-address(name='address require', placeholder='Адрес')
          .basket-promocode.folding
            a.basket-promocode__link.folding__title(href='#') Промокод
            .folding__wrap
              .basket-promocode__inner.folding__inner
                .basket-promocode__form
                  input.inputtext(type='text', placeholder='ВВЕДИТЕ  ПРОМОКОД')
                  a.btn-submit(href='#')
                  .basket-promocode__val
                    | Ваша скидка по промокоду 
                    span
                    | %
          .order-delivery__total
            .delivery-total
              .delivery__info
                span.icon.icon-car2
                |                                 Срок доставки 
                span.delivery-day 3-5 дней
                | , стоимость 
                span.delivery-summ 764
                span.rub
                  span руб
              .order__total
                span.lbl Итого c учетом скидки и доставки:
                span.summ 194 900
                span.rub
                  span руб
            .order__controls
              
              .subscribe__info
                input#wannaaction(type='checkbox', name='wannaaction')
                label(for='wannaaction') Я хочу получать информацию об акциях и скидках
              a.btn.btn_order.btn-submit(href='#')
                span.status ЗАВЕРШИТЬ ОФОРМЛЕНИЕ
                input(type='submit', value='')
      .order__agree
        | Нажимая на кнопку «Подтвердить заказ», вы принимаете условия 
        a(href='#') Публичной оферты
.ajxItemModal
  .ajxItemModal__holder
    .ajxItemModal__inner
