#order-complete.order-complete
  .wrap.order-expand.order__inner
    .title.scroll-to СПАСИБО ЗА ПОКУПКУ!
    .info
      | Ваш заказ №
      span.order-num 1419
      |  успешно оформлен. 
      br
      |             Детальная информация по заказу была отправлена на указанный Вами адрес электронной почты. 
      br
      |             В самое ближайшее время с Вами свяжеться наш менеджер для подтверждения заказа.
    img.logo(src='#{paths.img}/svg/logo.svg', alt='')
